{{> layout/header}}

{{> layout/background}}

<div class="content-section">
    <div class="container">
        <div class="header-container order">
            <div class="section-header">
                <h2 class="section-title">
                    <i class="fa-solid fa-credit-card"></i>
                    <a href="/payments">결제/환불 조회</a>
                </h2>
            </div>
            {{#searchView}}
            <form class="search-wrapper" method="get" action="/payments">
                <div class="search-box">
                    <div class="search-input-box">
                        <i class="fa-solid fa-user"></i>
                        <input
                                class="search-input"
                                type="text"
                                name="customerName"
                                value="{{#customerName}}{{customerName}}{{/customerName}}"
                                placeholder="고객명">
                    </div>

                    <div class="search-input-box">
                        <i class="fa-solid fa-phone"></i>
                        <input
                                class="search-input"
                                type="tel"
                                name="phone"
                                value="{{#phone}}{{phone}}{{/phone}}"
                                placeholder="연락처">
                    </div>
                    <div class="update-value category">
                        <input type="hidden" name="paymentStatus" id="status">
                        <div class="category-select">
                            <i class="fa-solid fa-info-circle"></i>
                            <span class="category-selected">
                                {{#paymentStatus}}{{paymentStatus.displayName}}{{/paymentStatus}}
                                {{^paymentStatus}}전체{{/paymentStatus}}
                            </span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <ul class="category-dropdown">
                            <li data-type="">전체</li>
                            <li data-type="PAID">결제완료</li>
                            <li data-type="REFUND">환불완료</li>
                        </ul>
                    </div>
                </div>
                <div class="search-box">
                    <div class="search-input-box">
                        <i class="fa-solid fa-hashtag"></i>
                        <input
                                class="search-input"
                                type="text"
                                name="merchantUid"
                                value="{{#merchantUid}}{{merchantUid}}{{/merchantUid}}"
                                placeholder="결제주문번호">
                    </div>
                    <div class="search-input-box">
                        <i class="fa-solid fa-calendar-alt"></i>
                        <input
                                type="date"
                                name="fromDate"
                                value="{{#fromDate}}{{fromDate}}{{/fromDate}}"
                                class="search-input date-input" min="1900-01-01" max="9999-12-31">
                    </div>
                    <span class="date-separator">~</span>
                    <div class="search-input-box date">
                        <i class="fa-solid fa-calendar-alt"></i>
                        <input
                                type="date"
                                name="toDate"
                                value="{{#toDate}}{{toDate}}{{/toDate}}"
                                class="search-input date-input"
                                min="1900-01-01"
                                max="9999-12-31">
                    </div>
                    <button type="submit" class="btn btn-submit">조회</button>
                </div>
            </form>
            {{/searchView}}
        </div>

        <div class="history-container">
            <table class="history-table payment-list">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>고객명</th>
                    <th>휴대폰 번호</th>
                    <th>결제주문번호</th>
                    <th>결제 상태</th>
                    <th>일시</th>
                </tr>
                </thead>
                <tbody>
                {{#paymentList}}
                    <tr class="payment-row" data-id="{{id}}" data-order-id="{{orderId}}">
                        <td>{{customerName}}</td>
                        <td>{{phone}}</td>
                        <td>{{merchantUid}}</td>
                        <td><span id="paymentStatus" class="status-badge {{paymentStatus.cssClass}}">{{paymentStatus.displayName}}</span></td>
                        <td>{{paidAt}}</td>
                    </tr>
                {{/paymentList}}
                {{^paymentList}}
                    <tr>
                        <td colspan="5" class="empty-message">결제/환불 내역이 없습니다.</td>
                    </tr>
                {{/paymentList}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<ul class="pagination">
    {{#paymentListPage.previousPageNumber}}
        <li class="page-btn">
            <a href="/payments?page={{paymentListPage.previousPageNumber}}{{#queryString}}{{queryString}}{{/queryString}}">
            <i class="fa-solid fa-chevron-left"></i>
            </a>
        </li>
    {{/paymentListPage.previousPageNumber}}
    {{^paymentListPage.previousPageNumber}}
        <li class="page-btn disabled">
            <i class="fa-solid fa-chevron-left"></i>
        </li>
    {{/paymentListPage.previousPageNumber}}

    {{#paymentListPage.pageLinks}}
        <li class="page-btn {{#active}}active{{/active}}">
            <a href="/payments?page={{displayNumber}}&size={{paymentListPage.size}}{{#queryString}}{{queryString}}{{/queryString}}">{{displayNumber}}</a>
        </li>
    {{/paymentListPage.pageLinks}}

    {{#paymentListPage.nextPageNumber}}
        <li class="page-btn">
            <a href="/payments?page={{paymentListPage.nextPageNumber}}{{#queryString}}{{queryString}}{{/queryString}}">
            <i class="fa-solid fa-chevron-right"></i>
        </li>
    {{/paymentListPage.nextPageNumber}}
    {{^paymentListPage.nextPageNumber}}
        <li class="page-btn disabled">
            <i class="fa-solid fa-chevron-right"></i>
        </li>
    {{/paymentListPage.nextPageNumber}}
</ul>

<script src="/js/payment/list.js"></script>
{{>layout/footer}}