.btn-payment-wrapper {
    display: flex;
    justify-content: center;
}

.btn-activate {
    padding: 0.5rem 1rem;
    background: var(--action-active);
}

.btn-payment-done {
    background: var(--action-active);
    padding: 0.5rem 3.3rem;
    font-size: 1rem;
    gap: 0.5rem;
    cursor: default;
}

.btn-payment {
    background: var(--action-active);
    padding: 0.3rem 3.3rem;
    font-size: 1rem;
    gap: 0.5rem;
}

.payment-emoji {
    padding: 0.5rem 0;
    color: var(--color-white);
}

.payment-request {
    padding: 0.5rem 0;
    font-size: 1.2rem;
    color: var(--color-white);
}

.payment-refund-card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.status-badge.status-paid {
    background: var(--color-dark-blue);
}

.status-badge.status-refund {
    background: var(--action-edit);
}

.history-table.payment-list col:not(:nth-child(3)) {
   width: 15%;
}

.history-table.payment-list col:nth-child(3) {
    width: 40%;
}
