.status-paid {
    background-color: var(--status-completed);
}

.status-refund {
    background-color: var(--status-cancelled);
}

.refund-text {
    width: 50%;
}

.refund-container {
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 900px;
}

.refund-container .detail-card {
    width: 100%;
}

.bottom-buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.buttons {
    width: 100%;
}

.btn-refund {
    padding: 0.7rem 2rem;
    font-size: 1.2rem;
    background: var(--status-inactive);
}
