.stock-quantity {
    font-size: 1.5rem;
}

.safety-stock {
    color: var(--color-cyan);
    font-size: 1.5rem;
    font-weight: 800;
}

.stock-badge {
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    color: var(--color-white);
}

.badge-warn {
    background: var(--badge-warning);
}

.badge-safe {
    background: var(--badge-safe);
}

.supply-item .update-item{
    gap: 0.5rem;
}

.supply-item {
    width: 45%;
    min-width: 600px;
}

@media (max-width: 1024px) {
    .supply-item {
        width: 70%;
        min-width: 0;
    }
}

@media (max-width: 784px) {
    .supply-item {
        width: 80%;
    }
}

@media (max-width: 320px) {
    .supply-item {
        width: 95%;
    }
}

.supply-item-history-items .supply-item-card {
    display: inline-flex;
    width: 100%;
}

.supply-item-inner {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: flex-start;
}

.supply-item-inner .supply-item-select-wrapper {
    min-width: 0;
}

.supply-item-history-items .bottom-buttons {
    padding: 2rem 0;
}

#historyTypeContainer {
    display: none;
}