{{> layout/header}}

{{> layout/background}}

<!-- http://localhost:8080/laundry-item -->
<div class="content-section">
    <div class="container">
        <div class="header-container">
            <div class="section-header">
                <h2 class="section-title">
                    <i class="fa-solid fa-shirt"></i>세탁물 목록
                </h2>
                <a href="/laundry-item/save" class="btn btn-create">
                    <span>+</span>생성
                </a>
            </div>
            <form class="search-wrapper" method="get" action="/laundry-item">
                <div class="search-input-box">
                    <i class="fa-solid fa-search"></i>
                    <input class="search-input" type="text" placeholder="검색어를 입력해주세요." value="{{name}}" name="name">
                </div>
                <div class="update-value category">
                    <input type="hidden" name="category" id="category" {{#category}}value="{{category}}" {{/category}}>
                    <div class="category-select" {{#category}}data-selected="{{category}}" {{/category}}>
                        <i class="fa-solid fa-list"></i>
                        <span class="category-selected">{{#category}}{{category}}{{/category}}{{^category}}전체 카테고리{{/category}}</span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <ul class="category-dropdown">
                        <li data-type="">전체 카테고리</li>
                        <li data-type="TOP">TOP</li>
                        <li data-type="BOTTOM">BOTTOM</li>
                        <li data-type="OUTER">OUTER</li>
                        <li data-type="BEDDING">BEDDING</li>
                        <li data-type="ACCESSORY">ACCESSORY</li>
                        <li data-type="SPECIAL">SPECIAL</li>
                        <li data-type="ETC">ETC</li>
                    </ul>
                </div>
                <button type="submit" class="btn btn-submit">조회</button>
            </form>
        </div>

        <div class="card-list">
            {{#laundryItemList}}
                <a href="/laundry-item/{{id}}" class="card">
                    <div class="card-header">
                        <i class="fa-solid fa-{{icon}}"></i>
                        <h4>{{name}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-info">
                            <span class="info-label">카테고리:</span>
                            <span class="info-value">{{category}}</span>
                        </div>
                        <div class="card-info">
                            <span class="info-label">기본가격:</span>
                            <span class="info-value price">{{basePrice}}</span>
                        </div>
                    </div>
                </a>
            {{/laundryItemList}}
        </div>
        {{^laundryItemList}}
            <p class="blank">등록된 세탁물이 없습니다.</p>
        {{/laundryItemList}}
    </div>
</div>

{{> layout/footer}}