{{> layout/header}}

{{> layout/background}}

<div class="update-container">
    <div class="update-container-content">
        <div class="update-card">
            <form id="updateForm">
                <div class="update-header">
                    <i class="fa-solid fa-{{laundryItem.icon}}"></i>
                    <input type="text" name="name" placeholder="세탁물 이름을 입력해주세요." value="{{laundryItem.name}}"
                           required>
                </div>
                <div class="update-body">
                    <div class="update-item">
                    <span class="update-label">
                        <i class="fa-solid fa-list"></i>
                        카테고리
                    </span>
                        <div class="update-value category">
                            <input type="hidden" name="category" id="category" value="{{laundryItem.category}}">
                            <div class="category-select" data-selected="{{laundryItem.category}}">
                                <span class="category-selected">{{laundryItem.category}}</span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <ul class="category-dropdown" data-selected="{{laundryItem.category}}">
                                <li data-type="TOP">TOP</li>
                                <li data-type="BOTTOM">BOTTOM</li>
                                <li data-type="OUTER">OUTER</li>
                                <li data-type="BEDDING">BEDDING</li>
                                <li data-type="ACCESSORY">ACCESSORY</li>
                                <li data-type="SPECIAL">SPECIAL</li>
                                <li data-type="ETC">ETC</li>
                            </ul>
                        </div>
                    </div>
                    <div class="update-item">
                        <label for="basePrice" class="update-label">
                            <i class="fa-solid fa-won-sign"></i>
                            기본 가격
                        </label>
                        <input type="number" id="basePrice" name="basePrice" min="0" step="1000"
                               placeholder="기본 가격을 입력해주세요." class="update-value price"
                               value="{{laundryItem.basePrice}}">
                    </div>
                    <div class="update-item">
                        <label for="description" class="update-label">
                            <i class="fa-solid fa-circle-info"></i>
                            설명
                        </label>
                        <textarea id="description" name="description" placeholder="설명을 입력해주세요." rows="5"
                                  class="update-value">{{laundryItem.description}}</textarea>
                    </div>
                </div>
                <div class="bottom-buttons">
                    <a href="/laundry-items/{{laundryItem.id}}" class="btn btn-back">취소</a>
                    <button type="submit" class="btn btn-create">수정 완료</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{> layout/footer}}

<script src="/js/laundryItem/update.js"></script>