{{> layout/header}}

{{> layout/background}}

<!-- http://localhost:8080/laundry-item/1/update -->
<div class="update-container">
    <div class="update-container-content">
        <div class="update-card">
            <div class="update-header">
                <i class="fa-solid fa-{{laundryItem.icon}}"></i>
                <label>
                    <input type="text" value="{{laundryItem.name}}">
                </label>
            </div>
            <div class="update-body">
                <div class="update-item">
                    <span class="update-label">
                        <i class="fa-solid fa-list"></i>
                        카테고리
                    </span>
                    <ul class="update-value category" data-selected="{{laundryItem.category}}">
                        <li datatype="TOP">TOP</li>
                        <li datatype="BOTTOM">BOTTOM</li>
                        <li datatype="OUTER">OUTER</li>
                        <li datatype="BEDDING">BEDDING</li>
                        <li datatype="ACCESSORY">ACCESSORY</li>
                        <li datatype="SPECIAL">SPECIAL</li>
                        <li datatype="ETC">ETC</li>
                    </ul>
                </div>
                <div class="update-item">
                    <span class="update-label">
                        <i class="fa-solid fa-won-sign"></i>
                        기본 가격
                    </span>
                    <label>
                        <input type="number" min="0" step="1000" class="update-value price"
                               value="{{laundryItem.basePrice}}">
                    </label>
                </div>
                <div class="update-item">
                    <span class="update-label">
                        <i class="fa-solid fa-circle-info"></i>
                        설명
                    </span>
                    <label>
                        <textarea class="update-value">{{laundryItem.description}}</textarea>
                    </label>
                </div>
                <div class="update-item">
                    <span class="update-label">
                        <i class="fa-solid fa-hourglass"></i>
                        생성일
                    </span>
                    <span class="update-value">
                        {{laundryItem.createdAt}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

{{> layout/footer}}