<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Clean4U</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/all.css">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/components.css">
    <link rel="stylesheet" href="/review.css">
</head>

<body class="review-page">

{{> layout/background}}

<div class="review-container">
    <div class="review-container-content">
        <div class="review-card">
            <div class="review-form-header review-complete-header">
                <i class="fa-solid fa-circle-check"></i>
                <h3>리뷰 작성이 완료되었습니다</h3>
            </div>
            <div class="review-body review-complete-body">
                <p>
                    소중한 리뷰 감사합니다.<br>
                    고객님의 의견은 저희 서비스 개선에 큰 도움이 됩니다.
                </p>
            </div>
        </div>
    </div>
</div>

</body>

</html>

