<!-- http://localhost:8080/join -->

{{> layout/header}}

<div class="login-container">
    <div class="login-card">
        <div class="detail-header">
            <i class="fa-solid fa-user-plus"></i>
            <h2 class="login-title">직원 등록</h2>
        </div>

        <div class="detail-body">
            {{#msg}}
                <div class="status-badge status-inactive" style="margin-bottom: 1rem;">
                    {{msg}}
                </div>
            {{/msg}}

            <form action="/join" method="post" class="user-form">
                <div class="detail-item">
                    <div class="detail-label">
                        <i class="fa-solid fa-id-badge"></i> 이름
                    </div>
                    <input type="text" name="name" placeholder="이름 입력" required>
                </div>

                <div class="detail-item">
                    <div class="detail-label">
                        <i class="fa-solid fa-user"></i> 아이디
                    </div>
                    <input type="text" name="username" placeholder="아이디 입력" required>
                </div>

                <div class="detail-item">
                    <div class="detail-label">
                        <i class="fa-solid fa-lock"></i> 비밀번호
                    </div>
                    <input type="password" name="password" placeholder="8자 이상" required>
                </div>

                <!-- 이메일 -->
                <div class="detail-item">
                    <div class="detail-label">
                        <i class="fa-solid fa-envelope"></i> 이메일
                    </div>
                    <div class="email-group">
                        <input type="email" id="email" name="email" placeholder="이메일 입력" required>
                        <button type="button" class="btn-send" onclick="callSendApi()">
                            인증번호 전송
                        </button>
                    </div>
                </div>

                <!-- 인증번호 -->
                <div class="detail-item" id="code-box" style="display:none;">
                    <div class="detail-label">
                        <i class="fa-solid fa-key"></i> 인증번호
                    </div>
                    <div class="input-group">
                        <input type="text" id="code" placeholder="6자리 입력" maxlength="6">
                        <button type="button" class="btn-verify" onclick="callVerifyApi()">확인</button>
                    </div>
                    <div id="msg"></div>
                </div>

                <!-- 인증 여부 -->
                <input type="hidden" id="isEmailVerified" name="isEmailVerified" value="false">

                <div class="login-footer">
                    <button type="submit" class="btn btn-create">
                        <span>+</span> 등록하기
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>

</style>

{{> layout/footer}}

<script>
    async function callSendApi() {
        let email = document.querySelector('#email').value;

        if (!email) {
            alert("이메일을 입력해주세요");
            return;
        }

        try {
            let response = await fetch("/api/email/send", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({email: email})
            });

            if (response.ok) {
                alert("인증번호가 메일로 전송되었습니다. 메일을 확인해주세요.");
                document.querySelector("#code-box").style.display ="block";
            } else {
                let error = response.json();
                alert("이메일 전송 실패");
            }

        } catch (e) {
            alert("서버 통신 오류 " + e.message);
        }
    }

    async function callVerifyApi() {
        let email = document.querySelector("#email").value;
        let code = document.querySelector("#code").value;

        if (!code) {
            alert("인증번호를 입력해주세요");
            return;
        }

        try {
            let response = await fetch("/api/email/verify", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({email: email, code: code})
            });

            let result = await response.json();
            let message = document.querySelector("#msg");

            if (response.ok) {
                message.innerHTML = "<span style='color: green;'>인증되었습니다.</span>";
                document.querySelector("#isEmailVerified").value = true;
                document.querySelector("#email").readOnly = true;
            } else {
                message.innerHTML = "<span style='color: red;'>인증번호가 올바르지 않습니다.</span>";
                document.querySelector("#isEmailVerified").value = false;
            }
        } catch (e) {
            console.log(e);
            alert("네트워크 오류 발생")
        }
    }
</script>