{{> layout/header}}

{{> layout/background}}

<div class="login-container">
    <div class="login-card">
        <div class="detail-header">
            <i class="fa-solid fa-user-plus"></i>
            <h2 class="login-title">기존 비밀번호 변경</h2>
        </div>

        <div class="detail-body">
            {{#msg}}
                <div class="status-badge status-inactive" style="margin-bottom: 1rem;">
                    {{msg}}
                </div>
            {{/msg}}

            <form action="/password/reset" method="post" class="user-form">
                <div class="detail-item">
                    <div class="detail-label">
                        <i class="fa-solid fa-lock"></i> 비밀번호
                    </div>
                    <input type="password" name="password" placeholder="비밀번호 입력" value="00000000" required>
                </div>

                <div class="login-footer">
                    <button type="submit" class="btn btn-create">
                        <span>+</span> 비밀번호 변경
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{{> layout/footer}}