{{> layout/header}}

{{> layout/background}}

<div class="container me-container">
    <div class="container-content">

        <div class="section-header">
            <h2 class="section-title">
                <i class="fa-solid fa-user"></i>
                내 정보 수정
            </h2>
            <a href="/dashboard" class="btn btn-back">
                <i class="fa-solid fa-arrow-left"></i>
                돌아가기
            </a>
        </div>

        <form action="/employees/me" method="post" id="updateForm">
            <div class="update-card">

                <div class="update-header">
                    <i class="fa-solid fa-user"></i>
                    <h4>{{sessionUser.name}}</h4>
                </div>

                <div class="update-body">

                    <!-- 이메일 -->
                    <div class="update-item">
                        <div class="update-label">
                            <i class="fa-solid fa-envelope"></i>
                            이메일
                        </div>
                        <input
                                type="email"
                                name="email"
                                class="update-value"
                                value="{{sessionUser.email}}"
                                placeholder="이메일을 입력하세요"
                                required
                        />
                    </div>

                    <!-- 비밀번호 -->
                    <div class="update-item">
                        <div class="update-label">
                            <i class="fa-solid fa-lock"></i>
                            새 비밀번호
                        </div>
                        <input
                                type="password"
                                name="password"
                                class="update-value"
                                placeholder="8~20자 비밀번호"
                        />
                    </div>
                </div>
                <div class="bottom-buttons">
                    <button type="submit" class="btn btn-submit">
                        <i class="fa-solid fa-check"></i>
                        수정 완료
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>

{{> layout/footer}}
<script src="/js/employee/update.js"></script>