{{> layout/header}}

{{> layout/background}}

<div class="detail-container customer">
    <div class="customer-container-content">
        <div class="customer-left">
            <!--버튼-->
            <div class="buttons">
                <form action="/customers" method="get">
                    <button class="btn btn-back"><i class="fa-solid fa-arrow-left"></i>목록으로</button>
                </form>
                {{#customer}}
                    {{#isActive}}
                        <div class="button-right">
                            <a href="/customers/{{customerId}}/edit" class="btn btn-edit">
                                <i class="fa-solid fa-edit"></i> 수정
                            </a>
                            <button class="btn btn-delete" onclick="openDeleteModal()"><i class="fa-solid fa-trash"></i>삭제</button>
                        </div>
                    {{/isActive}}
                    {{^isActive}}
                        <div class="button-right">
                                <button class="btn btn-delete" onclick="activateCustomer({{customer.customerId}})">활성화</button>
                        </div>
                    {{/isActive}}
                {{/customer}}
            </div>
            <!--고객상세내역-->
            <div class="detail-card">
                <div class="detail-header">
                    <i class="fa-solid fa-user"></i>
                    <h4>{{customer.name}}</h4>
                </div>
                <div class="detail-body">
                    <div class="detail-items">
                            <span class="detail-label">
                                <i class="fa-solid fa-award"></i>
                                등급
                            </span>
                        <span class="detail-value grade-{{customer.grade}}">
                            {{customer.grade}}
                        </span>
                    </div>
                    <div class="detail-items">
                            <span class="detail-label">
                                <i class="fa-solid fa-mobile-screen"></i>
                                연락처
                            </span>
                        <span class="detail-value">
                            {{customer.phone}}
                        </span>
                    </div>
                    <div class="detail-items">
                            <span class="detail-label">
                                <i class="fa-solid fa-cake-candles"></i>
                                생년월일
                            </span>
                        <span class="detail-value">
                            {{customer.birth}}
                        </span>
                    </div>
                    <div class="detail-items">
                            <span class="detail-label">
                                <i class="fa-solid fa-user-plus"></i> 등록
                            </span>
                        <div class="detail-value-item">
                            <span class="detail-value-check">{{customer.createdAt}}</span>
                            {{#customer.createdBy}}
                            <span class="detail-value-staff">
                                <i class="fa-solid fa-user"></i>{{name}}
                            </span>
                            {{/customer.createdBy}}
                        </div>
                    </div>
                    {{#customer.updatedBy}}
                    <div class="detail-items">
                        <span class="detail-label">
                            <i class="fa-solid fa-user-edit"></i> 수정
                        </span>
                        <div class="detail-value-item">
                            <span class="detail-value-check">{{customer.updatedAt}}</span>
                            <span class="detail-value-staff">
                                <i class="fa-solid fa-user"></i>{{name}}
                            </span>
                        </div>
                    </div>
                    {{/customer.updatedBy}}
                    <div class="detail-items-info">
                            <span class="detail-label-info">
                                <i class="fa-solid fa-circle-info"></i>
                                메모
                            </span>
                        <span class="detail-value memo">{{customer.memoOrDash}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="customer-right">
            <!--주문내역-->
            <div class="detail-card">
                <div class="detail-header">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <h4>주문 내역</h4>
                </div>
                <div class="detail-bodies">
                    <table class="table-container">
                        <thead>
                        <tr>
                            <th>주문번호</th>
                            <th>상태</th>
                            <th>금액</th>
                            <th>주문일</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#customer.orders}}
                            <tr onclick="location.href='/orders/{{orderId}}'">
                                <td class="order-no">NO.{{orderId}}</td>
                                <td>
                                        <span class="status-badge {{status.cssClass}}">
                                            {{status.displayName}}
                                        </span>
                                </td>
                                <td class="total-price">￦ {{totalPrice}}</td>
                                <td class="order-date">{{orderDate}}</td>
                            </tr>
                        {{/customer.orders}}

                        {{^customer.orders}}
                            <tr>
                                <td colspan="4" class="empty-message">
                                    <i class="fa-solid fa-cart-arrow-down"></i>주문 내역이 없습니다.
                                </td>
                            </tr>
                        {{/customer.orders}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-bg" id="modal-bg" style="display: none;">
    <div class="modal-body" id="modal-body">
        <button type="button" class="modal-close" onclick="closeDeleteModal()">
            <i class="fa-solid fa-xmark"></i>
        </button>
        <h4>삭제하시겠습니까?</h4>
        <div class="btn-group">
                <button type="submit" class="btns btn-deactivate" onclick="deactivateCustomer({{customer.customerId}})">비활성화</button>
                <button type="submit" class="btns btn-customer-delete" onclick="deleteCustomer({{customer.customerId}})">삭 제</button>
        </div>
    </div>
</div>

{{> layout/footer}}

<script src="/js/customer/detail.js"></script>
