{{> layout/header}}

{{> layout/background}}

<div class="detail-container">
    <div class="detail-container-content">
        <div class="buttons">
            <form action="/customer" method="get">
                <button class="btn btn-back"><i class="fa-solid fa-arrow-left"></i>목록으로</button>
            </form>
            <div class="button-right">
                <form action="/customer/{{customer.id}}/update" method="post">
                    <button class="btn btn-edit"><i class="fa-solid fa-edit"></i> 수정</button>
                </form>
                <form action="/customer/{{customer.id}}/delete" method="post">
                    <button class="btn btn-delete"><i class="fa-solid fa-trash"></i>삭제</button>
                </form>
            </div>
        </div>
        <div class="detail-card">
            <div class="detail-header">
                <i class="fa-solid fa-user"></i>
                <h4>{{customer.name}}</h4>
            </div>
            <div class="detail-body">
                <div class="detail-items">
                    <span class="detail-label">
                        <i class="fa-solid fa-award"></i>
                        등급
                    </span>
                    <span class="detail-value grade-{{customer.grade}}">
                        {{customer.grade}}
                    </span>
                </div>
                <div class="detail-items">
                    <span class="detail-label">
                        <i class="fa-solid fa-mobile-screen"></i>
                        연락처
                    </span>
                    <span class="detail-value phone">
                        {{customer.phone}}
                    </span>
                </div>
                <div class="detail-items">
                    <span class="detail-label">
                        <i class="fa-solid fa-cake-candles"></i>
                        생년월일
                    </span>
                    <span class="detail-value">
                        {{customer.birth}}
                    </span>
                </div>
                <div class="detail-items">
                    <span class="detail-label">
                        <i class="fa-solid fa-hourglass"></i>
                        생성일
                    </span>
                    <span class="detail-value">
                        {{createdAt}}
                    </span>
                </div>
                <div class="detail-items-info">
                    <span class="detail-label-info">
                        <i class="fa-solid fa-circle-info"></i>
                        설명
                    </span>
                    <span class="detail-value">
                        {{memo}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

{{> layout/footer}}