{{> layout/header}}

{{> layout/background}}

<div class="content-section">
    <div class="container">
        <div class="header-container">
            <div class="section-header">
                <h2 class="section-title">
                    <a href="/customers/list">
                        <i class="fa-solid fa-user-group"></i>
                        고객 목록
                    </a>
                </h2>
                <a href="/customer/save" class="btn btn-create">
                    <span>+</span>생성
                </a>
            </div>
            <form class="search-wrapper" method="get" action="/customers/list">
                <div class="search-input-box">
                    <i class="fa-solid fa-search"></i>
                    <input class="search-input" type="text" placeholder="검색어를 입력해주세요." value="{{keyword}}" name="keyword">
                    <input type="hidden" name="page" value="1">
                    <input type="hidden" name="size" value="{{customerPage.size}}">
                </div>
                <div class="update-value category">
                    <input type="hidden" name="category" id="category" {{#category}}value="{{category}}" {{/category}}>
                    <div class="category-select search-category" {{#category}}data-selected="{{category}}" {{/category}}>
                        <i class="fa-solid fa-list"></i>
                        <span class="category-selected">
                            {{#category}}{{category}}{{/category}}
                            {{^category}}전체 카테고리{{/category}}
                        </span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <ul class="category-dropdown">
                        <li data-type="all">전체 카테고리</li>
                        <li data-type="name">이름</li>
                        <li data-type="phone">연락처</li>
                        <li data-type="grade">등급별</li>
                    </ul>
                </div>
                <button type="submit" class="btn btn-submit">조회</button>
            </form>
        </div>

        <div class="card-list">
            {{#customerPage.content}}
                <a href="/customers/{{customerId}}" class="card">
                    <div class="card-header">
                        <i class="fa-solid fa-user"></i>
                        <h4>{{name}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-info">
                            <span class="info-label">등급:</span>
                            <span class="info-value {{#grade}}grade-{{grade}}{{/grade}}">{{grade}}</span>
                        </div>
                        <div class="card-info">
                            <span class="info-label">휴대폰번호:</span>
                            <span class="info-value phone">{{phone}}</span>
                        </div>
                    </div>
                </a>
            {{/customerPage.content}}
        </div>
        {{^customerPage.content}}
            <p class="blank">존재하지 않습니다.</p>
        {{/customerPage.content}}
    </div>
</div>

<div class="">

</div>
<ul class="pagination">
    {{#customerPage.previousPageNumber}}
        <li class="page-btn">
            <a href="/customers/list?page={{customerPage.previousPageNumber}}">
            <i class="fa-solid fa-chevron-left"></i>
            </a>
        </li>
    {{/customerPage.previousPageNumber}}
    {{^customerPage.previousPageNumber}}
        <li class="page-btn disabled">
            <i class="fa-solid fa-chevron-left"></i>
        </li>
    {{/customerPage.previousPageNumber}}

    {{#customerPage.pageLinks}}
        <li class="page-btn {{#active}}active{{/active}}">
            <a href="/customers/list?page={{displayNumber}}&size={{customerPage.size}}{{#hasCategory}}&category={{category}}{{/hasCategory}}{{#keyword}}&keyword={{keyword}}{{/keyword}}">
                {{displayNumber}}
            </a>
        </li>
    {{/customerPage.pageLinks}}

    {{#customerPage.NextPageNumber}}
        <li class="page-btn">
            <a href="/customers/list?page={{customerPage.NextPageNumber}}">
            <i class="fa-solid fa-chevron-right"></i>
            </a>
        </li>
    {{/customerPage.NextPageNumber}}
    {{^customerPage.NextPageNumber}}
        <li class="page-btn disabled">
            <i class="fa-solid fa-chevron-right"></i>
        </li>
    {{/customerPage.NextPageNumber}}
</ul>

{{> layout/footer}}