{{> layout/header}}

{{> layout/background}}

<div class="content-section">
    <div class="container">
        <div class="header-container">
            <div class="section-header">
                <h2 class="section-title">
                    <i class="fa-solid fa-user"></i>고객 목록
                </h2>
                <a href="/customer/save" class="btn btn-create">
                    <span>+</span>생성
                </a>
            </div>
            <form class="search-wrapper" method="get" action="/customer/list">
                <div class="search-input-box">
                    <i class="fa-solid fa-search"></i>
                    <input class="search-input" type="text" placeholder="검색어를 입력해주세요." value="{{keyword}}" name="keyword">
                </div>
                <div class="update-value category">
                    <input type="hidden" name="category" id="category" {{#category}}value="{{category}}" {{/category}}>
                    <div class="category-select search-category" {{#category}}data-selected="{{category}}" {{/category}}>
                        <i class="fa-solid fa-list"></i>
                        <span class="category-selected">{{#category}}{{category}}{{/category}}{{^category}}전체 카테고리{{/category}}</span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <ul class="category-dropdown">
                        <li data-type="name">이름</li>
                        <li data-type="phone">연락처</li>
                    </ul>
                </div>
                <button type="submit" class="btn btn-submit">조회</button>
            </form>
        </div>

        <div class="card-list">
            {{#customerList}}
                <a href="/customer/{{customerId}}" class="card">
                    <div class="card-header">
                        <i class="fa-solid fa-user"></i>
                        <h4>{{name}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-info">
                            <span class="info-label">등급:</span>
                            <span class="info-value {{#grade}}grade-{{grade}}{{/grade}}">{{grade}}</span>
                        </div>
                        <div class="card-info">
                            <span class="info-label">휴대폰번호:</span>
                            <span class="info-value phone">{{phone}}</span>
                        </div>
                    </div>
                </a>
            {{/customerList}}
        </div>
        {{^customerList}}
            <p class="blank">존재하지 않습니다.</p>
        {{/customerList}}
    </div>
</div>

{{> layout/footer}}