{{> layout/header}}

{{> layout/background}}

<div class="update-container">
    <div class="update-container-content">
        <div class="update-card">
            <form action="/customers/{{customer.customerId}}/update" method="post">
                <div class="update-header">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="name" placeholder="고객 이름을 입력해주세요." value="{{customer.name}}"
                           required>
                </div>
                <div class="update-body">
                    <div class="update-item">
                        <label class="update-label">
                            <i class="fa-solid fa-award"></i>
                            등급
                        </label>
                        <div class="update-grade">
                            <span class="update-value-grade grade-{{customer.grade}}">
                                {{customer.grade}}
                            </span>
                        </div>
                    </div>
                    <div class="update-item">
                        <label for="phone" class="update-label">
                            <i class="fa-solid fa-mobile-screen"></i>
                            연락처:
                        </label>
                        <div class="input-small">
                            <input type="tel" pattern="[0-9\-]+" id="phone" name="phone"
                                   maxlength="13"
                                   placeholder="연락처를 입력해주세요" class="update-value-items"
                                   value="{{customer.phone}}">
                            <small class="input-instruction">ex) 010-0000-0000</small>
                        </div>
                    </div>
                    <div class="update-item">
                        <label for="birth" class="update-label">
                            <i class="fa-solid fa-cake-candles"></i>
                            생년월일:
                        </label>
                        <div class="input-small">
                            <input type="date" id="birth" name="birth"
                                   class="update-value-items"
                                   min="1900-01-01"
                                   max="2100-01-01"
                                   value="{{customer.birth}}">
                            <small class="input-instruction">ex) 2000-01-01 </small>
                        </div>
                    </div>
                    <div class="update-item">
                        <label for="memo" class="update-label">
                            <i class="fa-solid fa-circle-info"></i>
                            메모
                        </label>
                        <textarea id="memo" name="memo" placeholder="설명을 입력해주세요." rows="5"
                                  class="update-value">{{customer.memo}}</textarea>
                    </div>
                </div>
                <div class="bottom-buttons">
                    <a href="/customers/{{customer.customerId}}" class="btn btn-back">취소</a>
                    <button type="submit" class="btn btn-create">수정 완료</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{> layout/footer}}

<script src="/js/customer.js"></script>