{{> layout/header}}
{{> layout/background}}
<div class="detail-container">
    <div class="detail-container-content">
        <div class="buttons">
            <form action="/order/list" method="get">
                <button class="btn btn-back"><i class="fa-solid fa-arrow-left"></i>목록으로</button>
            </form>
            <div class="button-right">
                <form action="/order/{{order.orderId}}/update" method="get">
                    <button class="btn btn-edit"><i class="fa-solid fa-edit"></i>수정</button>
                </form>
                <form action="/order/{{order.orderId}}/delete" method="post"></form>
                <button class="btn btn-delete"><i class="fa-solid fa-trash"></i>삭제</button>
            </div>
        </div>
        <div class="detail-card">
            <div class="detail-header">
                <h4>{{order.customerName}} <span class="info-label">님의 주문 내역</span></h4>
            </div>
            <div class="detail-body">
                <div class="detail-item">
                    <span class="detail-label">
                        <i class="fa-solid fa-list"></i>
                            주문 접수일
                    </span>
                    <span class="detail-value">
                        {{order.orderDate}}
                    </span>
                </div>
                <div class="detail-item">
                     <span class="detail-label">
                        <i class="fa-solid fa-list"></i>
                            세탁 상태
                    </span>
                    <span class="detail-value">
                        <span class="status-badge {{order.status.cssClass}}">{{order.status.displayName}}</span>
                    </span>
                </div>
                <div class="detail-item">
                     <span class="detail-label">
                        <i class="fa-solid fa-circle-info"></i>
                            세탁 물품
                    </span>
                    <span class="detail-value" style="width: 50%">
                        <ul style="width: 100%">
                            {{#items}}
                            <li style="margin-bottom: 1.2rem">
                                <div style="
                                        display: flex;
                                        justify-content: space-between;
                                    ">
                                        <strong>{{laundryItemName}}</strong>
                                        <span>{{quantity}}개</span>
                                    </div>

                                <div style="
                                        display: flex;
                                        justify-content: space-between;
                                        color: var(--color-cyan);
                                    ">
                                        <span>기본 가격: </span>
                                        <span>{{basePrice}}원</span>
                                    </div>

                                <div style="
                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-end;
                                    ">
                                    {{#options}}
                                        <div style="
                                               font-size: 0.95rem;
                                               color: #555;
                                            ">
                                                + {{optionName}} ({{extraPrice}}원)
                                            </div>
                                    {{/options}}
                                </div>
                                <div style="
                                            font-size: 0.95rem;
                                            display: flex;
                                            flex-direction: column;
                                            align-items: flex-end;
                                        ">
                                            옵션 합계: {{optionalTotalPrice}}원
                                    </div>

                                    <div class="detail-value price"
                                        style="
                                            display: flex;
                                            justify-content: space-between;
                                    ">
                                    가격: {{itemTotalPrice}}원
                                    </div>
                                    </li>
                            {{/items}}
                                </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>