{{> layout/header}}
{{> layout/background}}

<div class="detail-container order-detail">
    <div class="detail-container-content">
        <div class="buttons">
            <form action="/order/list" method="get">
                <button class="btn btn-back"><i class="fa-solid fa-arrow-left"></i>목록으로</button>
            </form>
            <div class="button-right">
                <a href="/order/{{order.orderId}}/update" class="btn btn-edit">
                    <i class="fa-solid fa-edit"></i> 수정
                </a>
                <form action="/order/{{order.orderId}}/status" method="post" onsubmit="return confirm('주문을 취소(삭제)하시겠습니까?')">
                    <button class="btn btn-delete"><i class="fa-solid fa-trash"></i>주문 취소</button>
                </form>
            </div>
        </div>

        <div class="detail-card">
            <div class="id-container">
                <div class="detail-id-card">NO.{{orderId}}</div>
            </div>
            <div class="detail-header order-detail-header">
                <span class="user-info {{#order.grade}}grade-{{order.grade}}{{/order.grade}}">{{order.grade}}</span>
                <h4>{{order.customerName}}</h4>
            </div>

            <div class="detail-body">
                <div class="detail-item">
                    <span class="detail-label">
                         <i class="fa-solid fa-hourglass"></i>
                        주문 접수일
                    </span>
                    <span class="detail-value">{{order.orderDate}}</span>
                </div>

                <div class="detail-item">
                    <div class="status-label">
                        <span class="detail-label">
                             <i class="fa-solid fa-soap"></i>
                            세탁 상태
                        </span>
                        <span class="detail-value history-items">
                            {{#history}}<span>{{createdAt}} {{status.displayName}} {{editor}}</span>{{/history}}
                        </span>
                    </div>
                    <span class="detail-value">
                        <span class="status-badge {{order.status.cssClass}}">
                            {{order.status.displayName}}
                        </span>
                    </span>

                </div>
                <div class="detail-item">
                    <span class="detail-label">
                         <i class="fa-solid fa-hourglass"></i>
                        메모
                    </span>
                    {{#order.memo}}
                        <span class="detail-value">{{order.memo}}</span>
                    {{/order.memo}}
                </div>
            </div>

            <div class="order-laundry-item">
                <span class="detail-label">
                    <i class="fa-solid fa-shirt"></i>
                    세탁 물품
                </span>

                {{#items}}
                    <div class="laundry-card">

                        <div class="laundry-info-header">
                            <div>
                                <span>{{laundryItemName}}</span>
                                <span class="laundry-gray">({{laundryCategory}})</span>
                            </div>
                        </div>
                        <div class="laundry-info-detail">
                            <div class="laundry-item-row">
                                <span class="laundry-item-label">수량:</span>
                                <span class="laundry-item-value">{{quantity}}개</span>
                            </div>
                            <div class="laundry-item-row">
                                <span class="laundry-item-label">기본 가격:</span>
                                <span class="laundry-item-value">{{basePrice}}원</span>

                            </div>
                            {{#options}}
                                <div class="laundry-item-row option-row">
                                    <span class="laundry-item-label">추가 옵션:</span>
                                    <div class="option-card">
                                        <span class="option-label">옵션</span>
                                        <span class="laundry-item-value">{{optionName}}</span>
                                        <span class="laundry-item-value option-price">+ {{extraPrice}}원</span>
                                    </div>
                                </div>
                            {{/options}}
                        </div>

                        <div class="laundry-info-subtotal">
                            <span class="subtotal-label">소계</span>
                            <span class="subtotal-value">
                            {{itemTotalPrice}}원
                        </span>
                        </div>
                    </div>
                {{/items}}

                <div class="order-total">
                    <span class="detail-label">
                        <i class="fa-solid fa-circle-info"></i>
                        총 결제금액
                    </span>
                    <span class="order-total-value">
                        총 {{order.totalPrice}}원
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{{>layout/footer}}
{{#alertMessage}}
    <script>
        alert("{{alertMessage}}")
    </script>
{{/alertMessage}}