{{> layout/header}}
{{> layout/background}}
<!-- http://localhost:8080/order/list -->
<div class="content-section">
    <div class="container">
        <div class="header-container order">
            <div class="section-header">
                <h2 class="section-title">
                    <a href="/order/list">
                        <i class="fa-solid fa-cart-shopping"></i>
                        주문 목록
                    </a>
                </h2>
                <a href="/order/save" class="btn btn-create">
                    <span>+</span>생성
                </a>
            </div>

            <form class="search-wrapper" method="get" action="/order/list">
                <div class="search-box">
                    <div class="search-input-box">
                        <i class="fa-solid fa-user"></i>
                        <input
                                class="search-input"
                                type="text"
                                name="customerName"
                                value="{{#searchView.customerName}}{{searchView.customerName}}{{/searchView.customerName}}"
                                placeholder="고객명">
                    </div>

                    <div class="search-input-box">
                        <i class="fa-solid fa-phone"></i>
                        <input
                                class="search-input"
                                type="tel"
                                name="phone"
                                value="{{#searchView.phone}}{{searchView.phone}}{{/searchView.phone}}"
                                placeholder="연락처">
                    </div>
                    <div class="update-value category">
                        <input type="hidden" name="status" id="status">
                        <div class="category-select">
                            <i class="fa-solid fa-info-circle"></i>
                            <span class="category-selected">
                                {{#searchView.status}}{{searchView.status.displayName}}{{/searchView.status}}
                                {{^searchView.status}}전체 상태{{/searchView.status}}
                            </span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <ul class="category-dropdown">
                            <li data-type="RECEIVED">접수</li>
                            <li data-type="WASHING">세탁중</li>
                            <li data-type="DRYING">건조중</li>
                            <li data-type="COMPLETED">세탁완료</li>
                        </ul>
                    </div>
                </div>
                <div class="search-box">
                    <div class="search-input-box">
                        <i class="fa-solid fa-calendar-alt"></i>
                            <input
                                    type="date"
                                    name="fromDate"
                                    value="{{#searchView.fromDate}}{{searchView.fromDate}}{{/searchView.fromDate}}"
                                    class="search-input date-input" min="1900-01-01" max="9999-12-31">
                    </div>
                    <span class="date-separator">~</span>
                    <div class="search-input-box date">
                        <i class="fa-solid fa-calendar-alt"></i>
                        <input
                                type="date"
                                name="toDate"
                                value="{{#searchView.toDate}}{{searchView.toDate}}{{/searchView.toDate}}"
                                class="search-input date-input"
                                min="1900-01-01"
                                max="9999-12-31">
                    </div>
                    <button type="submit" class="btn btn-submit">조회</button>
                </div>
            </form>
        </div>

        <div class="card-list order-card-list">
            {{#orderList}}
                {{^isCancelled}}
                <a href="/order/{{orderId}}" class="card" style="color: var(--color-blue);">
                    No. {{orderId}}
                    <div class="card-header">
                        <i class="fa-solid fa-shopping-bag"></i>
                        <div class="customer-title">
                            <span class="info-value {{#grade}}grade-{{grade}}{{/grade}}">{{grade}}</span>
                            <h4>{{customerName}} <span class="info-label">님 주문</span></h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-info">
                            <span class="info-label">연락처: </span>
                            <span class="info-value">{{phone}}</span>
                        </div>
                        <div class="card-info">
                            <span class="info-label">주문 접수일: </span>
                            <span class="info-value">{{orderDate}}</span>
                        </div>
                        <div class="card-info">
                            <span class="info-label">세탁상태:</span>
                            <span class="status-badge {{status.cssClass}}">{{status.displayName}}</span>
                        </div>
                    </div>
                </a>
                {{/isCancelled}}
            {{/orderList}}
        </div>

    </div>
</div>
    <ul class="pagination">
        {{#orderPage.previousPageNumber}}
            <li class="page-btn">
                <a href="/order/list?page={{orderPage.previousPageNumber}}">
                <i class="fa-solid fa-chevron-left"></i>
                </a>
            </li>
        {{/orderPage.previousPageNumber}}
        {{^orderPage.previousPageNumber}}
            <li class="page-btn disabled">
                <i class="fa-solid fa-chevron-left"></i>
            </li>
        {{/orderPage.previousPageNumber}}

        {{#orderPage.pageLinks}}
            <li class="page-btn {{#active}}active{{/active}}">
                <a href="/order/list?page={{displayNumber}}&size={{orderPage.size}}{{#queryString}}{{queryString}}{{/queryString}}">{{displayNumber}}</a>
            </li>
        {{/orderPage.pageLinks}}

        {{#orderPage.nextPageNumber}}
            <li class="page-btn">
                <a href="/order/list?page={{orderPage.nextPageNumber}}">
                <i class="fa-solid fa-chevron-right"></i>
                </a>
            </li>
        {{/orderPage.nextPageNumber}}
        {{^orderPage.NextPageNumber}}
            <li class="page-btn disabled">
                <i class="fa-solid fa-chevron-right"></i>
            </li>
        {{/orderPage.NextPageNumber}}
    </ul>
{{>layout/footer}}