{{> layout/header}}
{{> layout/background}}
<!-- http://localhost:8080/order/list -->
<div class="content-section">
    <div class="container">
        <div class="header-container">
            <div class="section-header">
                <h2 class="section-title">
                    <i class="fa-solid fa-tshirt"></i>주문 목록
                </h2>
                <a href="/order/save" class="btn btn-create">
                    <span>+</span>생성
                </a>
            </div>

            <form class="search-wrapper" method="get" action="/order/list">
                <div class="search-input-box">
                    <i class="fa-solid fa-search"></i>
                    <input class="search-input" type="text" placeholder="고객명" name="customerName">
                </div>

                <div class="search-input-box">
                    <i class="fa-solid fa-search"></i>
                    <input class="search-input" type="tel" name="phone" placeholder="전화번호">
                </div>
                <div class="update-value category"
                    style="min-width: 120px;">
                    <input type="hidden" name="status" id="category">
                    <div class="category-select">
                        <span class="category-selected">상태</span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <ul class="category-dropdown">
                        <li data-type="RECEIVED">접수</li>
                        <li data-type="WASHING">세탁중</li>
                        <li data-type="DRYING">건조중</li>
                        <li data-type="COMPLETED">세탁완료</li>
                    </ul>
                </div>

                <div class="search-input-box">
                    <input type="date" name="fromDate" class="search-input date-input">
                </div>
                <span class="date-separator">~</span>
                <div class="search-input-box date">
                    <input type="date" name="toDate" class="search-input date-input">
                </div>
                <button type="submit" class="btn btn-create">조회</button>
            </form>
        </div>

        <div class="card-list">
            {{#orderList}}
                <a href="/order/{{orderId}}" class="card">
                    <div class="card-header">
                        <h4>{{customerName}} <span class="info-label">님 주문</span></h4>
                    </div>
                    <div class="card-body">
                        <div class="card-info">
                            <span class="info-label">주문 접수일: </span>
                            <span class="info-value">{{orderDate}}</span>
                        </div>
                        <div class="card-info">
                            <span class="info-label">세탁상태:</span>
                            <span class="status-badge {{status.cssClass}}">{{status.displayName}}</span>
                        </div>
                    </div>
                </a>
            {{/orderList}}
        </div>

    </div>
</div>
<!--sessionUser 추가 (-) -->
{{>layout/footer}}