{{> layout/header}}

{{> layout/background}}

<div class="update-container">
    <div class="update-container-content">
        <div class="update-card">
            <form action="/orders/new" method="post" enctype="multipart/form-data">
                <div class="update-header">
                    <i class="fa-solid fa-shopping-bag"></i>
                    <b>주문 등록</b>
                </div>
                <div class="update-body">
                    <div class="update-item">
                        <label class="update-label">
                            <i class="fa-solid fa-user user-icon"></i>
                            고객명
                        </label>
                        <input type="text" name="customerName" id="customer-name"
                               placeholder="고객명을 입력해주세요" class="update-value" required>
                    </div>
                    <div class="update-item">
                        <label class="update-label">
                            <i class="fa-solid fa-mobile-phone"></i>
                            휴대폰 번호
                        </label>
                        <div class="update-value category" id="customer-phone-wrapper">
                            <input type="hidden" name="customerId" id="customer-id" required>
                            <div class="category-select" id="customer-phone-select">
                                <span class="category-selected">휴대폰 번호 선택</span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <ul class="category-dropdown" id="customer-phone-dropdown">
                                <li data-id="" data-phone="">휴대폰 번호 선택</li>
                            </ul>
                        </div>
                    </div>
                    <div class="update-item">
                        <label class="update-label">
                            <i class="fa-solid fa-note-sticky"></i>
                            메모
                        </label>
                        <input type="text" name="memo"
                               placeholder="메모를 입력하세요(선택)" class="update-value">
                    </div>
                    <div class="update-item last">
                        <label class="update-label">
                            <i class="fa-solid fa-image"></i>
                            사진 추가
                        </label>
                        <input type="file" id="laundryImage" name="laundryImage" accept="image/*" hidden>
                        <label for="laundryImage" class="btn image-add">
                            <span id="imageLabel">
                                <i class="fa-solid fa-upload"></i>
                                파일 선택</span>
                        </label>
                        <span id="fileName" class="image-label"> 선택된 파일 없음</span>
                    </div>
                </div>

                <div class="order-laundry-item update">
                    <div class="item-add add-card">
                        <span class="update-label each-label">
                            <i class="fa-solid fa-shirt"></i>
                            세탁 물품
                        </span>
                        <button type="button" class="btn btn-add" onclick="addItem()">
                            + <span>세탁 물품</span> 추가
                        </button>
                    </div>
                    <div class="bottom-buttons order-button">
                        <a href="/orders" class="btn btn-back">취소</a>
                        <button type="submit" class="btn btn-create">완료</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{> layout/footer}}

<script src="/js/order/update.js"></script>
<script src="/js/order/save.js"></script>

<script id="customers-data" type="application/json">
{{& customerJson}}
</script>


<script id="laundry-items-data" type="application/json">
{{& laundryItemJson}}
</script>

<script id="laundry-options-data" type="application/json">
{{& laundryOptionsJson}}
</script>
