{{> layout/header}}

<div class="update-container">
    <div class="update-container-content">
        <div class="update-card">
            <form action="/order/save" method="post">
                <div class="update-header">
                    <i class="fa-solid fa-shopping-bag"></i>
                    <b>주문 등록</b>
                </div>
                <div class="update-body">
                    <div class="update-item">
                        <label class="update-label">
                            <i class="fa-solid fa-user user-icon"></i>
                            고객명
                        </label>
                        <input type="hidden" name="customerId" id="customer-id">
                        <input type="text" name="customerName" id="customer-name"
                               placeholder="고객명을 입력해주세요" class="update-value">

                        <select id="customer-phone" class="update-value">
                            <option value="">휴대폰 번호 선택</option>
                        </select>
                    </div>
                    <div class="update-item" style="border-bottom: 1px dashed var(--color-light-gray);">
                        <label class="update-label">
                            <i class="fa-solid fa-hourglass"></i>
                            메모
                        </label>
                        <input type="text" name="memo"
                               placeholder="메모를 입력하세요(선택)" class="update-value">
                    </div>
                </div>

                <div class="order-laundry-item">
                    <div class="item-add" style="display: flex;">
                        <span class="update-label" style="min-width: 100px;">
                            <i class="fa-solid fa-shirt"></i>
                            세탁 물품
                        </span>
                        <button type="button" class="btn btn-add" onclick="addItem()">
                            + 세탁 물품 추가
                        </button>
                    </div>
                    <div class="bottom-buttons" style="padding: 32px 40px;">
                        <a href="/order/list" class="btn btn-back">취소</a>
                        <button type="submit" class="btn btn-create">완료</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

{{> layout/footer}}

<script src="/js/order-update.js"></script>
<script src="/js/order-create.js"></script>

<script id="customers-data" type="application/json">
{{& customerJson}}
</script>


<script id="laundry-items-data" type="application/json">
{{& laundryItemJson}}
</script>

<script id="laundry-options-data" type="application/json">
{{& laundryOptionsJson}}
</script>
