{{> layout/header}}
{{> layout/background}}

<div class="detail-container order-update">
    <div class="detail-container-content">
        <div class="detail-card">
            <div class="id-container">
                <div class="detail-id-card">NO.{{orderId}}</div>
            </div>
            <form action="/order/{{order.orderId}}/update" method="post" enctype="multipart/form-data">
                <div class="detail-header order-detail-header">
                    <i class="fa-solid fa-shopping-bag"></i>
                    <h4>{{order.customerName}} <span class="info-label">님 주문</span></h4>
                    <span class="user-info {{#order.grade}}grade-{{order.grade}}{{/order.grade}}">{{order.grade}}</span>
                </div>

                <div class="detail-body">
                    <div class="detail-item">
                        <span class="detail-label">
                             <i class="fa-solid fa-spinner"></i>
                            세탁 상태
                        </span>
                        <div class="update-value category">
                            <input type="hidden" name="status" id="status" value="{{order.status}}">
                            <div class="category-select" data-selected="{{order.status}}">
                                <span class="category-selected">{{order.status.displayName}}</span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <ul class="category-dropdown" data-selected="{{order.status}}">
                                <li data-id="RECEIVED" data-type="RECEIVED">접수</li>
                                <li data-id="WASHING" data-type="WASHING">세탁중</li>
                                <li data-id="DRYING" data-type="DRYING">건조중</li>
                                <li data-id="COMPLETED" data-type="COMPLETED">세탁완료</li>
                            </ul>
                        </div>
                    </div>
                    <div class="detail-item">
                        <span class="detail-label">
                             <i class="fa-solid fa-note-sticky"></i>
                            메모
                        </span>
                        <input type="text" id="memo" name="memo"
                               placeholder="메모를 작성해주세요" class="update-value"
                               {{#order.memo}}value="{{order.memo}}"{{/order.memo}}>
                    </div>
                </div>
                <div class="order-laundry-item">
                    <div class="item-add">
                        <span class="detail-label">
                            <i class="fa-solid fa-shirt"></i>
                            세탁 물품
                        </span>
                        <button type="button" class="btn btn-add" onclick="addItem()">
                            + <span>세탁 물품</span> 추가
                        </button>
                        <label for="laundryImage" class="btn image-add">
                            <span id="image-label">+ 사진 추가(선택)</span>
                        </label>
                        <input type="file" id="laundryImage" name="laundryImage" accept="image/*" hidden>
                        <span id="fileName" class="image-label"> 선택된 파일 없음</span>
                    </div>

                    {{#items}}
                        <div class="laundry-card" data-index="{{index}}">
                            <input type="hidden" name="items[{{index}}].laundryItemId" value="{{laundryItemId}}">
                            <input type="hidden" id="itemsSize" value="{{itemsSize}}">
                            <div class="laundry-info-header">
                                <span>{{laundryItemName}}</span>
                                <span>
                                <button class="btn btn-delete"
                                        type="button"
                                        onclick="removeItem(this)"
                                ><i class="fa-solid fa-trash"></i>삭제
                                </button>
                            </span>
                            </div>
                            <div class="laundry-info-detail">
                                <div class="laundry-item-row">
                                    <span class="laundry-item-label">수량:</span>
                                    <input
                                            class="laundry-item-value"
                                            type="number"
                                            name="items[{{index}}].quantity"
                                            min="1"
                                            value="{{quantity}}">
                                </div>
                                <div class="laundry-item-row">
                                    <span class="laundry-item-label">옵션</span>
                                    <div class="laundry-item-option">
                                        {{#options}}
                                            <label>
                                                <input
                                                        type="checkbox"
                                                        name="items[{{index}}].optionIds"
                                                        value="{{id}}"
                                                        {{#checked}}checked{{/checked}}
                                                >
                                                {{name}} (+{{extraPrice}})
                                            </label>
                                        {{/options}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/items}}
                    <div class="bottom-buttons">
                        <a href="/order/{{order.orderId}}" class="btn btn-back">취소</a>
                        <button type="submit" class="btn btn-create">수정 완료</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{>layout/footer}}
<script src="/js/order-update.js"></script>
<script src="/js/file-upload.js"></script>

<script id="laundry-items-data" type="application/json">
{{& laundryItemJson}}
</script>

<script id="laundry-options-data" type="application/json">
{{& laundryOptionsJson}}
</script>