{{> layout/header}}

{{> layout/background}}

<div class="notice-container">
    <div class="notice-detail-container">
        <div class="notice-button-list">
            <div class="buttons">
                <form action="/notices/list" method="get">
                    <button class="btn btn-back"><i class="fa-solid fa-arrow-left"></i>목록으로</button>
                </form>
                <div class="button-right">
                    {{#isAdmin}}
                        <a href="/notices/{{notice.id}}/update" class="btn btn-edit">
                            <i class="fa-solid fa-edit"></i> 수정
                        </a>
                        <form action="/notices/{{notice.id}}/delete" method="post">
                            <button class="btn btn-delete"><i class="fa-solid fa-trash"></i>삭제</button>
                        </form>
                    {{/isAdmin}}
                </div>
            </div>
        </div>

        <div class="notice-container-content">
            <div class="notice-detail-header">
                <i class="fa-solid fa-bullhorn"></i>
                <h3 class="notice-value title">
                    {{notice.title}}
                </h3>
            </div>
            <div class="detail-notice-body">
                <div class="body-upper-side">
                    <div class="notice-detail-writer">
                        <i class="fa-solid fa-user-tie"></i>
                        <span class="category-label">작성자: </span>
                        <span class="notice-detail-value">
                            {{notice.writer}}
                        </span>
                    </div>
                    <div class="notice-createdAt">
                        <i class="fa-solid fa-clock"></i>
                        <span class="category-label">작성일: </span>
                        <span class="notice-detail-value">
                            {{notice.createdAt}}
                        </span>
                    </div>
                </div>
                <div class="notice-detail-item">
                    <i class="fa-solid fa-message"></i>
                    <p class="detail-value content">{{notice.content}}</p>
                    {{#notice.uploadImages}}
                    <img src="{{.}}" alt="사진" class="notice-Images">
                    {{/notice.uploadImages}}
                </div>
            </div>

            <div class="bottom-button-list">
                {{#hasPrev}}
                    <form action="/notices/{{prevId}}" method="get">
                        <button class="btn btn-back"><i class="fa-solid fa-arrow-left"></i>이전 글</button>
                    </form>
                {{/hasPrev}}
                {{^hasPrev}}
                    <button class="no-notice" onclick="alert('이전 글이 없습니다.')"><i class="fa-solid fa-arrow-left"></i>이전
                        글
                    </button>
                {{/hasPrev}}
                {{#hasNext}}
                    <form action="/notices/{{nextId}}" method="get">
                        <button class="btn btn-back">다음 글<i class="fa-solid fa-arrow-right"></i></button>
                    </form>
                {{/hasNext}}
                {{^hasNext}}
                    <button class="no-notice" onclick="alert('마지막 공지사항입니다')">다음으로<i
                            class="fa-solid fa-arrow-right"></i></button>
                {{/hasNext}}
            </div>
        </div>
    </div>
</div>

{{> layout/footer}}