{{> layout/header}}

{{> layout/background}}
<div class="notice-list-container">
    <div class="notice-card">
        <div class="notice-list-header">
            <h2 class="notice-header-left">
                <a href="/notices/list">
                    <i class="fa-solid fa-bullhorn"></i>
                    공지사항
                </a>
            </h2>
            <a href="/notice/save" class="btn btn-create">
                <span>+</span> 공지 작성
            </a>
        </div>
        <div class="notice-body">
            {{#noticePage.content}}
            <a href="/notices/{{id}}" class="notice-item-link">
                <div class="notice-items">
                    <div class="notice-left">
                        <i class="fa-solid fa-bullhorn"></i>
                    </div>
                    <div class="notice-right">
                        <div class="notice-first-line">
                            <span class="notice-title">{{title}}</span>
                            <span class="notice-detail">자세히 보기 →</span>
                        </div>
                        <div class="notice-second-line">
                            <span class="notice-info">
                                <i class="fa-solid fa-user-tie"></i>{{writer}}
                            </span>
                            <span class="notice-info">
                                <i class="fa-solid fa-calendar-alt"></i>{{createdAt}}
                            </span>
                        </div>
                    </div>
                </div>
            </a>
            {{/noticePage.content}}
        </div>
    </div>
</div>

<ul class="pagination">
    {{#noticePage.previousPageNumber}}
        <li class="page-btn">
            <a href="/notices/list?page={{noticePage.previousPageNumber}}">
            <i class="fa-solid fa-chevron-left"></i>
            </a>
        </li>
    {{/noticePage.previousPageNumber}}
    {{^noticePage.previousPageNumber}}
        <li class="page-btn disabled">
            <i class="fa-solid fa-chevron-left"></i>
        </li>
    {{/noticePage.previousPageNumber}}

    {{#noticePage.pageLinks}}
        <li class="page-btn {{#active}}active{{/active}}">
            <a href="/notices/list?page={{displayNumber}}&size={{noticePage.size}}">{{displayNumber}}</a>
        </li>
    {{/noticePage.pageLinks}}

    {{#noticePage.NextPageNumber}}
        <li class="page-btn">
            <a href="/notices/list?page={{noticePage.NextPageNumber}}">
            <i class="fa-solid fa-chevron-right"></i>
            </a>
        </li>
    {{/noticePage.NextPageNumber}}
    {{^noticePage.NextPageNumber}}
        <li class="page-btn disabled">
            <i class="fa-solid fa-chevron-right"></i>
        </li>
    {{/noticePage.NextPageNumber}}
</ul>

{{> layout/footer}}