{{> layout/header}}

{{> layout/background}}

<div class="notice-container">
    <div class="notice-container-content">
        <form action="/notice/save" method="post" enctype="multipart/form-data">
            <div class="notice-header">
                <label class="notice-label">
                    <i class="fa-solid fa-bullhorn"></i>제목:
                </label>
                <input type="text" name="title" placeholder="제목을 입력해주세요." required>
            </div>
            <div class="update-body">
                <div class="notice-item">
                    <label for="content" class="notice-label">
                        <i class="fa-solid fa-message"></i>내용 :
                    </label>
                    <textarea id="summernote" name="content" placeholder="내용을 입력해주세요." rows="16"
                              class="update-value update-notice-content"></textarea>
                </div>
                <div class="update-item last">
                    <label class="notice-label">
                        <i class="fa-solid fa-image"></i>
                        사진 추가
                    </label>
                    <div class="file-right">
                        <div class="file-button">
                            <label for="uploadImages" class="btn image-add">
                                <span id="image-label">
                                    <i class="fa-solid fa-upload"></i>
                                    파일 선택</span>
                            </label>
                        </div>
                        <input type="file" id="uploadImages" name="uploadImages" accept="image/*" hidden multiple>
                        <span id="fileName" class="image-label"> 선택된 파일 없음</span>
                    </div>
                </div>
                <div id="preview" class="image-preview"></div>
            </div>
            <div class="bottom-buttons">
                <a href="/notices/list" class="btn btn-back">취소</a>
                <button type="submit" class="btn btn-create">완료</button>
            </div>
        </form>
    </div>
</div>

{{> layout/footer}}

<script src="/js/notice-file.js"></script>
<script src="/js/notice-summernote.js"></script>