{{> layout/header}}

{{> layout/background}}

<div class="notice-container">
    <div class="notice-container-content">
        <form action="/notice/save" method="post">
            <div class="notice-header">
                <label class="notice-label">
                    <i class="fa-solid fa-bullhorn"></i>제목:
                </label>
                <input type="text" name="title" placeholder="제목을 입력해주세요." required>
            </div>
            <div class="update-body">
                <div class="notice-item">
                    <label for="content" class="notice-label">
                        <i class="fa-solid fa-message"></i>내용 :
                    </label>
                    <textarea name="content" placeholder="내용을 입력해주세요." rows="16"
                              class="update-value update-notice-content"></textarea>
                </div>
            </div>
            <div class="bottom-buttons">
                <a href="/notice/list" class="btn btn-back">취소</a>
                <button type="submit" class="btn btn-create">완료</button>
            </div>
        </form>
    </div>
</div>

{{> layout/footer}}