{{> layout/header}}

{{> layout/background}}

<div class="notice-container">
    <div class="notice-container-content">
        <form id="updateForm" enctype="multipart/form-data">
            <div class="notice-header">
                <label class="notice-label">
                    <i class="fa-solid fa-bullhorn"></i>제목:
                </label>
                <input type="text" name="title" placeholder="제목을 입력해주세요." value="{{notice.title}}" required>
            </div>
            <div class="update-body">
                <div class="notice-item">
                    <label for="content" class="notice-label">
                        <i class="fa-solid fa-message"></i>내용 :
                    </label>
                    <textarea id="summernote" name="content" placeholder="내용을 입력해주세요." rows="16"
                              class="update-value update-notice-content">{{notice.content}}</textarea>
                </div>
                <div class="update-item last">
                    <label class="notice-label">
                        <i class="fa-solid fa-file"></i>
                        첨부 파일
                    </label>
                    <div class="file-right">
                        <div class="file-button">
                            <label for="attachments" class="btn image-add">
                                <span id="image-label">
                                    <i class="fa-solid fa-upload"></i>
                                    파일 선택
                                </span>
                            </label>
                        </div>
                        <input type="file" id="attachments" name="newAttachments" hidden multiple>
                            <div class="file-list" id="fileList">
                                <input type="hidden" name="deleteFileIds" id="deleteFileIds">
                            {{#notice.attachments}}
                                <span class="image-label-file" data-file-id="{{fileId}}">{{originalName}}
                                    <i class="fa-solid fa-x remove-file"></i>
                                </span>
                            {{/notice.attachments}}
                                <span id="newFile"></span>
                                <span id="noFile" class="image-label"
                                      style="{{#notice.attachments}}display:none;{{/notice.attachments}}
                                              {{^notice.attachments}}display:block;{{/notice.attachments}}"
                                > 첨부파일 없음 </span>
                            </div>
                    </div>
                </div>
            </div>
            <div class="bottom-buttons">
                <a href="/notices/{{notice.id}}" class="btn btn-back">취소</a>
                <button type="submit" class="btn btn-create">완료</button>
            </div>
        </form>
    </div>
</div>

{{> layout/footer}}

<script src="/js/notice/update.js"></script>
<script src="/js/notice/notice-file.js"></script>
<script src="/js/notice/notice-summernote.js"></script>
