.info-value.grade {
    background: var(--color-light-blue);
    border-radius: 50px;
    color: var(--color-white);
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
}

.update-value-grade {}

.update-value-items {
    color: var(--color-dark-blue);
    font-size: 2.5rem;
    font-weight: 800;
}

.update-grade {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.grade-NEW {
    background: var(--color-cream-blue);
    border-radius: 50px;
    color: var(--color-cyan);
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
    text-align: center;
}

.grade-REGULAR {
    background: var(--color-light-blue);
    border-radius: 50px;
    color: var(--color-white);
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
    text-align: center;
}

.grade-VIP {
    background: var(--color-dark-blue);
    border-radius: 50px;
    color: var(--color-white);
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
    text-align: center;
}

.info-value.phone {
    color: var(--color-black);
}

.customer-container-content {
    display: flex;
    width: 90%;
    gap: 0.5rem;
}

.customer-left {
    flex: 1;
}

.customer-right {
    width: 40%;
    margin-top: calc(56.8px + 0.5rem);
}

.detail-bodies {
    padding: 0.5rem 1rem;
}

.detail-items {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px dashed var(--color-light-gray);
    align-items: center;
}

.detail-items-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    flex: 1;
}

.detail-label-info {
    color: var(--color-gray);
    font-weight: 600;
    min-width: 120px;
}

.detail-label-info i {
    color: var(--color-blue);
    margin-right: 0.5rem;
}

.detail-value.grade {
    background: var(--color-light-blue);
    border-radius: 50px;
    color: var(--color-white);
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
}

.detail-value.phone {
    color: var(--color-black);
    font-size: 1.5rem;
    font-weight: 800;
}

.memo {
    white-space: pre-wrap;
}

.table-container {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
}

table tr {
    cursor: pointer;
}

table tr:hover {
    background: var(--color-lighter-blue);
}

table td {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-light-gray);
    border-top: 1px solid var(--color-light-gray);
}

table td:first-of-type {
    border-left: 1px solid var(--color-light-gray);
    border-radius: 10px 0 0 10px;
}

table td:last-of-type {
    border-right: 1px solid var(--color-light-gray);
    border-radius: 0 10px 10px 0;
}

.order-no {
    width: 25%;
    color: var(--color-dark-blue);
    font-weight: 600;
    font-size: 1rem;
}

.status-badges {
    width: 20%;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-size: 1rem;
    color: white;
}

.total-price {
    width: 25%;
    color: var(--color-cyan);
    font-size: 1rem;
    font-weight: 600;
}

.order-date {
    width: 30%;
    font-size: 1rem;
    color: var(--color-gray);
}


/* create-form */
.btn-customer {
    width: 100%;
    font-size: 1rem;
}

.save-form{
    width: 100%;
}

.update-items {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    border-bottom: 1px dashed var(--color-light-gray);
    align-items: center;
    text-wrap: nowrap;
}

.input-small {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.input-instruction {
    color: var(--color-gray);
    margin-top: 10px;
}

.create-label {
    width: 200px;
}

.no-order {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-light-blue);
    text-align: center;
    padding: 5rem;
}

.no-order i {
    color: var(--color-blue);
    margin-right: 0.5rem;
}

.category-notice {
    text-align: center;
    color: var(--color-light-blue);
}