.status-received {
    background-color: var(--status-received);
}

.status-washing {
    background-color: var(--status-washing);
}

.status-drying {
    background-color: var(--status-drying);
}

.status-completed {
    background-color: var(--status-completed);
}

.btn-search span {
    background: var(--color-cyan);
    border-radius: 25px;
    color: var(--color-white);
    margin-right: 0.5rem;
    text-align: center;
    padding: 0.85rem 2rem;
}

.search-box {
    margin: 20px 0;
    padding: 15px;
    background: var(--color-white);
    border-radius: 10px;
}

.search-form {
    display: flex;
    gap: 10px;
    align-content: center;
    flex-wrap: wrap;
}

.search-form span {
    display: flex;
    align-items: center;
}

.search-form input,
.search-form select {
    padding:  0.5rem 1rem;
    border: 1px solid var(--color-light-gray);
    border-radius: 4px;
}

.search-form input,
.search-form select,
.search-form placeholder {
    color: var(--color-gray);
}

.search-form input[type="text"]:not(:placeholder-shown),
.search-form input[type="tel"]:not(:placeholder-shown) {
    color: var(--color-black);
}

.search-form select:has(option:checked:not([value=""])) {
    color: var(--color-black);
}

input.has-value {
    color: var(--color-black);
}

.detail-value .status-badge {
    font-size: 1.2rem;
}
