.status-received {
    background-color: var(--status-received);
}

.status-washing {
    background-color: var(--status-washing);
}

.status-drying {
    background-color: var(--status-drying);
}

.status-completed {
    background-color: var(--status-completed);
}