.pagination {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}


.page-btn {
    min-width: 38px;
    height: 38px;
    padding: 0 0.9rem;
    border-radius: 999px;
    background: var(--color-white);
    border: 2px solid var(--color-light-blue);
    color: var(--color-dark-blue);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-btn a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-btn:hover {
    background: var(--color-light-blue);
    color: white;
}

.page-btn.active {
    background: var(--color-blue);
    color: var(--color-white);
    border-color: var(--color-blue);
}

.page-btn.disabled {
    background: var(--color-cream);
    border-color: var(--color-light-gray);
    color: var(--color-light-gray);
    cursor: default;
}