.login-container {
    margin: 0 auto;
    padding: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-card {
    background: var(--color-white);
    border-radius: 30px;
    box-shadow: 0 10px 40px var(--shadow);
    border: 2px solid var(--color-light-blue);
    height: auto;
    width: 50%;
    min-width: 700px;
}

.login-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-dark-blue);
}

.login-header i {
    width: 100%;
    margin-bottom: 1rem;
    color: var(--color-light-blue);
}

.user-form .detail-label {
    min-width: 150px;
}

.user-form input {
    flex: 1;
}

.login-footer {
    margin: 1rem 0;
    text-align: center;
}

.admin-header-left {
    display: flex;
    gap: 1rem;
}

.admin-header a i {
    color: var(--color-white);
    margin-right: 0.25rem;
}

.admin-header a:hover {
    transform: translateY(-0.2rem);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.dashboard-list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin: 2rem 0;
}

.dashboard-group {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    padding: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.group-title {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-dark-blue);
    border-bottom: 3px solid rgba(79, 195, 247, 0.3);
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
}

.group-title h3 {
    display: flex;
    gap: 0.5rem;
}

.dashboard-group .card-header {
    padding-bottom: 1.5rem;
}

.dashboard-group .card-header i {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card-list-two {
    display: grid;
    gap: 1.7rem;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1024px) {
    .login-card {
        min-width: 0;
        width: 70%;
    }

    .user-form .detail-label {
        min-width: 100px;
    }
}

@media (max-width: 784px) {
    .login-card {
        width: 90%;
    }

    .login-card .detail-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .login-card input {
        width: 100%;
    }

    .login-footer .btn {
        width: 100%;
    }
}