{{> layout/header}}

<div class="container p-5">
    <h2 class="mb-4">자재 관리
    <a href="/supply-item/save" class="btn btn-primary">생성</a>
    </h2>
    {{#supplyItemList}}
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title mb-3">{{name}}</h4>
                <a href="/supply-item/{{id}}" class="btn btn-primary">상세보기</a>
            </div>
        </div>
    {{/supplyItemList}}
    {{^supplyItemList}}
        <div class="alert alert-info" role="alert">
            등록된 자재가 없습니다.
        </div>
    {{/supplyItemList}}
</div>

{{> layout/footer}}