{{> layout/header}}

{{> layout/background}}

<!-- http://localhost:8080/supply-item/list -->
<div class="content-section">
    <div class="container">
        <div class="header-container">
            <div class="section-header">
                <h2 class="section-title">
                    <a href="/supply-items/list">
                        <i class="fa-solid fa-box"></i>
                        비품 목록
                    </a>
                </h2>
                <a href="/supply-items/save" class="btn btn-create">
                    <i class="fa-solid fa-plus btn-create-icon"></i>생성
                </a>
            </div>
            <form class="search-wrapper" method="get" action="/supply-items/list">
                <div class="search-input-box">
                    <i class="fa-solid fa-search"></i>
                    <input class="search-input" type="text" placeholder="검색어를 입력해주세요." value="{{name}}" name="name">
                    <input type="hidden" name="page" value="1">
                    <input type="hidden" name="size" value="{{supplyItemPage.size}}">
                </div>
                <div class="update-value category">
                    <input type="hidden" name="lowStock" id="lowStock" {{#lowStock}}value="{{lowStock}}" {{/lowStock}}>
                    <div class="category-select" {{#lowStock}}data-selected="{{lowStock}}" {{/lowStock}}>
                        <i class="fa-solid fa-list"></i>
                        <span class="category-selected">
                        {{#lowStockTrue}}주의{{/lowStockTrue}}
                            {{#lowStockFalse}}안전{{/lowStockFalse}}
                            {{^lowStockTrue}}{{^lowStockFalse}}전체{{/lowStockFalse}}{{/lowStockTrue}}
                        </span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <ul class="category-dropdown">
                        <li data-type="">전체</li>
                        <li data-type="false">안전</li>
                        <li data-type="true">주의</li>
                    </ul>
                </div>
                <button type="submit" class="btn btn-submit">조회</button>
            </form>
        </div>

        <div class="card-list">
            {{#supplyItemList}}
                <a href="/supply-items/{{id}}" class="card">
                    <div class="card-header">
                        <i class="fa-solid fa-spray-can"></i>
                        <h4>{{name}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-info">
                            <span class="info-label">재고 수량:</span>
                            <span class="info-value">{{stockQuantity}}</span>
                        </div>
                        <div class="card-info">
                            <span class="info-label">단위:</span>
                            <span class="info-value">{{unit}}</span>
                        </div>
                        <div class="card-info">
                            <span class="info-label">재고 상태:</span>
                            <span class="info-value stock-badge {{#isLowStock}}badge-warn{{/isLowStock}} {{^isLowStock}}badge-safe{{/isLowStock}}">
                                {{#isLowStock}}주의{{/isLowStock}}
                                {{^isLowStock}}안전{{/isLowStock}}
                           </span>
                        </div>
                    </div>
                </a>
            {{/supplyItemList}}
        </div>
        {{^supplyItemList}}
            <p class="blank">등록된 비품이 없습니다.</p>
        {{/supplyItemList}}
    </div>
</div>
<ul class="pagination">
    {{#supplyItemPage.previousPageNumber}}
        <li class="page-btn">
            <a href="/supply-items/list?page={{supplyItemPage.previousPageNumber}}{{#queryString}}{{queryString}}{{/queryString}}">
                <i class="fa-solid fa-chevron-left"></i>
            </a>
        </li>
    {{/supplyItemPage.previousPageNumber}}
    {{^supplyItemPage.previousPageNumber}}
        <li class="page-btn disabled">
            <i class="fa-solid fa-chevron-left"></i>
        </li>
    {{/supplyItemPage.previousPageNumber}}

    {{#supplyItemPage.pageLinks}}
        <li class="page-btn {{#active}}active{{/active}}">
            <a href="/supply-items/list?page={{displayNumber}}&size={{supplyItemPage.size}}{{#queryString}}{{queryString}}{{/queryString}}">{{displayNumber}}</a>
        </li>
    {{/supplyItemPage.pageLinks}}

    {{#supplyItemPage.nextPageNumber}}
        <li class="page-btn">
            <a href="/supply-items/list?page={{supplyItemPage.nextPageNumber}}{{#queryString}}{{queryString}}{{/queryString}}">
            <i class="fa-solid fa-chevron-right"></i>
            </a>
        </li>
    {{/supplyItemPage.nextPageNumber}}
    {{^supplyItemPage.nextPageNumber}}
        <li class="page-btn disabled">
            <i class="fa-solid fa-chevron-right"></i>
        </li>
    {{/supplyItemPage.nextPageNumber}}
</ul>


{{> layout/footer}}