{{> layout/header}}

{{> layout/background}}

<!-- http://localhost:8080/supply-item/1/update -->
<div class="update-container">
    <div class="update-container-content supply-item">
        <div class="update-card">
            <form action="/supply-item/{{supplyItem.id}}/update" method="post">
                <div class="update-header">
                    <i class="fa-solid fa-spray-can"></i>
                    <input type="text" name="name" placeholder="비품 이름을 입력해주세요." value="{{supplyItem.name}}"
                           required>
                </div>
                <div class="update-body supply-item-body">
                    <div class="update-item">
                        <label for="unit" class="update-label">
                            <i class="fa-solid fa-boxes"></i>
                            재고 수량
                        </label>
                        <input type="number" id="stockQuantity" name="stockQuantity" min="0" step="1"
                               placeholder="비품 수량을 입력해주세요." class="update-value"
                               value="{{supplyItem.stockQuantity}}">
                    </div>
                    <div class="update-item">
                        <label for="description" class="update-label">
                            <i class="fa-solid fa-scale-balanced"></i>
                            단위
                        </label>
                        <input type="text" name="unit" placeholder="비품 단위를 입력해주세요." class="update-value  stock-quantity"
                               value="{{supplyItem.unit}}">
                    </div>
                    <div class="update-item">
                        <label class="update-label">
                            <i class="fa-solid fa-heart"></i>
                            안전 재고
                        </label>
                        <input type="number" id="safetyStock" name="safetyStock" min="0" step="1"
                               placeholder="안전 재고 수량을 입력해주세요." class="update-value price"
                               value="{{supplyItem.safetyStock}}">
                    </div>
                    <div class="update-item">
                        <label class="update-label">
                            <i class="fa-solid fa-heart"></i>
                            활성 여부
                        </label>
                        <input type="hidden" name="isActive" value="false">
                        <label class="toggle-switch">
                            <input type="checkbox" id="isActive" name="isActive" value="true"
                                   {{#supplyItem.isActive}}checked{{/supplyItem.isActive}}>
                            <span class="slider"></span>
                        </label>
                    </div>

                    <div class="update-item">
                        <label class="update-label">
                            <i class="fa-solid fa-list"></i>
                            거래 유형
                        </label>
                        <div class="update-value category">
                            <input type="hidden" name="historyType" id="historyType">
                            <div class="category-select">
                                <span class="category-selected">거래 유형 선택</span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <ul class="category-dropdown">
                                <li data-type="IN">입고</li>
                                <li data-type="OUT">출고</li>
                                <li data-type="ADJUSTMENT">조정</li>
                                <li data-type="UPDATE">수정</li>
                            </ul>
                        </div>
                    </div>
                    <div class="update-item">
                        <label class="update-label">
                            <i class="fa-solid fa-note-sticky"></i>
                            메모
                        </label>
                        <textarea cols="3" name="memo" placeholder="메모를 입력해주세요." class="update-value" required></textarea>
                    </div>
                </div>
                <div class="bottom-buttons">
                    <a href="/supply-item/{{supplyItem.id}}" class="btn btn-back">취소</a>
                    <button type="submit" class="btn btn-create">수정 완료</button>
                </div>
            </form>
        </div>
    </div>
</div>


{{> layout/footer}}