{{> layout/header}}

{{> layout/background}}

<!-- http://localhost:8080/supply-item/1/update -->
<!-- http://localhost:8080/login -->
<div class="update-container">
    <div class="update-container-content supply-item">
        <div class="update-card">
            <form action="/supply-item/{{supplyItem.id}}/update" method="post">
                <div class="update-header">
                    <i class="fa-solid fa-spray-can"></i>
                    <input type="text" name="name" placeholder="자재 이름을 입력해주세요." value="{{supplyItem.name}}"
                           required>
                </div>
                <div class="update-body supply-item-body">
                    <div class="update-item">
                        <label for="unit" class="update-label">
                            <i class="fa-solid fa-boxes"></i>
                            재고 수량
                        </label>
                        <input type="number" id="stockQuantity" name="stockQuantity" min="0" step="1"
                               placeholder="자재 수량을 입력해주세요." class="update-value"
                               value="{{supplyItem.stockQuantity}}">
                    </div>
                    <div class="update-item">
                        <label for="description" class="update-label">
                            <i class="fa-solid fa-scale-balanced"></i>
                            단위
                        </label>
                        <input type="text" name="unit" placeholder="자재 단위를 입력해주세요." class="update-value  stock-quantity"
                               value="{{supplyItem.unit}}">
                    </div>
                    <div class="update-item">
                        <label class="update-label">
                            <i class="fa-solid fa-heart"></i>
                            안전 재고
                        </label>
                        <input type="number" id="safetyStock" name="safetyStock" min="0" step="1"
                               placeholder="안전 재고 수량을 입력해주세요." class="update-value price"
                               value="{{supplyItem.safetyStock}}">
                    </div>
                </div>
                <div class="bottom-buttons">
                    <a href="/supply-item/{{supplyItem.id}}" class="btn btn-back">취소</a>
                    <button type="submit" class="btn btn-create">수정 완료</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{> layout/footer}}