{{> layout/header}}
{{> layout/background}}
<div class="content-section chat">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">
                <a href="/chats">
                    <i class="fa-solid fa-laptop"></i>
                    직원 채팅
                </a>
            </h2>
        </div>
        <div>
            <div class="chat-body-container" id="chatContainer" data-current-user="{{sessionUser.name}}">
                <div id="chatBox">
                    {{#chatList}}
                        <div class="msg-wrap {{#mine}}msg-mine{{/mine}}{{^mine}}msg-other{{/mine}}">
                            <div class="msg-box">
                                <span class="name"><i class="fa-solid fa-user"></i>{{sender}}</span>
                                <span class="msg">{{message}}</span>
                            </div>
                        </div>
                    {{/chatList}}
                </div>
            </div>
            <div class="input-card">
                <form id="chatForm" class="input-area">
                    <div>
                        <input type="hidden" id="senderId" name="senderId" value="{{sessionUser.id}}">
                        <input type="text" id="message" name="message" placeholder="내용 입력..." class="input-msg"
                               autofocus>
                    </div>
                    <div>
                        <button type="submit" class="chat-send">전송</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/chat/chat.js"></script>

{{>layout/footer}}