{{> layout/header}}
{{> layout/background}}
<div class="content-section">
    <div class="container">
        <div class="header-container" style="display: flex; flex-direction: column; padding: 0 20rem;">
            <div class="section-header">
                <h2 class="section-title">
                    <a href="/chats">
                        <i class="fa-solid fa-laptop"></i>
                        직원 채팅
                    </a>
                </h2>
            </div>
            <div>
                <div class="chat-body-container" id="chatContainer">
                    <div class="chat-box" id="chatBox">
                        {{#chatList}}
                            <div class="msg-wrap">
                                <div class="msg-box">
                                    <span class="name">{{sender}}</span>
                                    <span class="msg">{{message}}</span>
                                </div>
                            </div>
                        {{/chatList}}
                    </div>
                </div>
                <div class="input-card">
                    <form id="chatForm" class="input-area">
                        <div>
                            <input type="hidden" id="senderId" name="senderId" value="{{sessionUser.id}}">
                            <input type="text" id="message" name="message" placeholder="내용 입력..." class="input-msg" autofocus>
                        </div>
                        <div>
                            <button type="submit" class="btn-send">전송</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/chat/chat.js"></script>

{{>layout/footer}}