{{> layout/header}}
{{> layout/background}}

<div class="update-container">
    <div class="update-container-content">
        <div class="update-card">
            <div class="update-header">
                <i class="fa-solid fa-calendar-check"></i>
                <b>근무 스케줄 수정</b>
            </div>

            <form id="updateOverrideForm">
                <div class="update-body">
                    <input type="hidden" name="id" id="id" value="{{override.id}}">
                    <input type="hidden" name="date" id="date" value="{{override.date}}">
                    <input type="hidden" name="originalId" id="originalId" value="{{override.originalEmployeeId}}">
                    <input type="hidden" name="overrideId" id="overrideId" value="{{override.overrideEmployeeId}}">

                    <div class="update-item">
                        <span class="update-label">
                            <i class="fa-solid fa-user"></i>
                            기존 근무자
                        </span>
                        <span class="update-value">{{override.originalEmployeeName}}</span>
                    </div>

                    <div class="update-item">
                        <span class="update-label">
                            <i class="fa-solid fa-user"></i>
                            교체 근무자
                        </span>
                        <span class="update-value">{{override.overrideEmployeeName}}</span>
                    </div>

                    <div class="update-item">
                        <label class="update-label" for="startTime">
                            <i class="fa-solid fa-clock"></i>
                            시작 시간
                        </label>
                        <input type="time" id="startTime" name="startTime" class="update-value" value="{{override.startTime}}" required>
                    </div>

                    <div class="update-item">
                        <label class="update-label" for="endTime">
                            <i class="fa-solid fa-clock"></i>
                            종료 시간
                        </label>
                        <input type="time" id="endTime" name="endTime" class="update-value" value="{{override.endTime}}" required>
                    </div>
                </div>

                <div class="bottom-buttons">
                    <button type="submit" class="btn btn-create">수정 완료</button>
                    <a href="javascript:history.back()" class="btn btn-back">취소</a>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="/js/workschedule/update-override.js"></script>
{{> layout/footer}}
