{{> layout/header}}

{{> layout/background}}

<div class="update-container">
    <div class="update-container-content">
        <div class="update-card">
            <!-- 헤더 -->
            <div class="update-header">
                <i class="fa-solid fa-calendar-check"></i>
                <b>근무 스케줄 등록</b>
            </div>

            <div class="update-body">
                <div class="update-item">
                    <span class="update-label">
                        <i class="fa-solid fa-user"></i>
                        이름
                    </span>
                    <span class="update-value">{{employee.name}}</span>
                </div>

                <form method="GET" action="/schedule/{{employee.id}}">
                    <div class="update-item">
                        <label class="update-label" for="reason">
                            <i class="fa-solid fa-list"></i>
                            사유
                        </label>
                        <div class="update-value category" style="flex: 1;">
                            <input type="hidden" name="reason" id="reason" {{#reason}}value="{{reason}}"{{/reason}}>
                            <div class="category-select" {{#reason}}data-selected="{{reason}}"{{/reason}}>
                                <span class="category-selected">
                                    {{#isSick}}병가{{/isSick}}
                                    {{#reason}}일반근무{{/reason}}
                                    {{^isSick}}{{^reason}}선택{{/reason}}{{/isSick}}
                                </span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <ul class="category-dropdown">
                                <li data-type="">선택</li>
                                <li data-type="일반근무">일반근무</li>
                                <li data-type="병결">병가</li>
                            </ul>
                        </div>
                    </div>

                    <div class="submit-footer">
                        <button type="submit" class="btn btn-create">선택</button>
                    </div>
                </form>
            </div>
            <div class="{{#reason}}bottom-form{{/reason}} {{#isSick}}bottom-form{{/isSick}}">
                <form method="POST" action="/schedule">
                    {{^isSick}}
                        {{#reason}}
                            <input type="hidden" name="employeeId" value="{{employee.id}}">
                            <input type="hidden" name="name" value="{{employee.name}}">
                            <input type="hidden" name="reason" value="{{reason}}">

                            <div class="update-item">
                                <label class="update-label" for="startTime">
                                    <i class="fa-solid fa-clock"></i>
                                    시작 시간
                                </label>
                                <input type="time" id="startTime" name="startTime" class="update-value">
                            </div>
                            <div class="update-item">
                                <label class="update-label" for="endTime">
                                    <i class="fa-solid fa-clock"></i>
                                    종료 시간
                                </label>
                                <input type="time" id="endTime" name="endTime" class="update-value">
                            </div>

                            <div class="schedule-buttons">
                                <a href="/schedule/list" class="btn btn-back">취소</a>
                                <button type="submit" class="btn btn-create">제출</button>
                            </div>
                        {{/reason}}
                    {{/isSick}}

                    {{#isSick}}
                        <input type="hidden" name="employeeId" value="{{employee.id}}">
                        <input type="hidden" name="name" value="{{employee.name}}">
                        <input type="hidden" name="reason" value="{{reason}}">

                        <div class="update-item">
                            <label class="update-label" for="date">
                                <i class="fa-solid fa-calendar"></i>
                                병결 날짜
                            </label>
                            <input type="date" id="date" name="date" class="update-value" min="1900-01-01"
                                   max="9999-12-31">
                        </div>
                        <div class="update-item">
                            <label class="update-label" for="overrideId">
                                <i class="fa-solid fa-user-group"></i>
                                대체 인원
                            </label>
                            <div class="update-value category">
                                <input type="hidden" name="overrideId" id="overrideId" required>
                                <div class="category-select">
                                    <span class="category-selected">선택</span>
                                    <i class="fa-solid fa-chevron-down"></i>
                                </div>
                                <ul class="category-dropdown">
                                    <li data-id="">선택</li>
                                    {{#overrideList}}
                                        <li data-id="{{id}}">{{name}}</li>
                                    {{/overrideList}}
                                </ul>
                            </div>
                        </div>
                        <div class="update-item">
                            <label class="update-label" for="overrideStartTime">
                                <i class="fa-solid fa-clock"></i>
                                시작 시간
                            </label>
                            <input type="time" id="overrideStartTime" name="overrideStartTime" class="update-value">
                        </div>
                        <div class="update-item">
                            <label class="update-label" for="overrideEndTime">
                                <i class="fa-solid fa-clock"></i>
                                종료 시간
                            </label>
                            <input type="time" id="overrideEndTime" name="overrideEndTime" class="update-value">
                        </div>

                        <div class="schedule-buttons">
                            <a href="/schedule/list" class="btn btn-back">취소</a>
                            <button type="submit" class="btn btn-create">제출</button>
                        </div>
                    {{/isSick}}
                </form>
            </div>
        </div>
    </div>
</div>
{{> layout/footer}}