{{> layout/header}}

{{> layout/background}}

<div class="detail-container">
    <div class="detail-container-content">
        <div class="buttons">
            <form action="/schedules" method="get">
                <button class="btn btn-back"><i class="fa-solid fa-arrow-left"></i>목록으로</button>
            </form>
            <div class="button-right">
                <a href="/schedule/{{schedule.id}}/update" class="btn btn-edit">
                    <i class="fa-solid fa-edit"></i> 수정
                </a>
                <form action="/schedule/{{schedule.id}}/delete" method="post">
                    <button class="btn btn-delete"><i class="fa-solid fa-trash"></i>삭제</button>
                </form>
            </div>
        </div>

        <div class="detail-card">
            <!-- 헤더 -->
            <div class="detail-header">
                <i class="fa-solid fa-calendar-check"></i>
                <h4>근무 스케줄 상세</h4>
            </div>

            <!-- 상세 정보 -->
            <div class="detail-body">
                <div class="detail-item">
                    <div class="detail-label">
                        <i class="fa-solid fa-user"></i>
                        이름
                    </div>
                    <span class="detail-value">{{schedule.name}}</span>
                </div>

                <div class="detail-item">
                    <div class="detail-label">
                        <i class="fa-solid fa-id-card"></i>
                        아이디
                    </div>
                    <span class="detail-value">{{schedule.username}}</span>
                </div>

                <div class="detail-item">
                    <div class="detail-label">
                        <i class="fa-solid fa-envelope"></i>
                        이메일
                    </div>
                    <span class="detail-value">{{schedule.email}}</span>
                </div>

                <div class="detail-item">
                    <div class="detail-label">
                        <i class="fa-solid fa-clock"></i>
                        시작 시간
                    </div>
                    <span class="detail-value">{{schedule.startTime}}</span>
                </div>

                <div class="detail-item">
                    <div class="detail-label">
                        <i class="fa-solid fa-clock"></i>
                        종료 시간
                    </div>
                    <span class="detail-value">{{schedule.endTime}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

{{> layout/footer}}