{{> layout/header}}

{{> layout/background}}

<div class="update-container">
    <div class="update-container-content">
        <div class="update-card">
            <!-- 헤더 -->
            <div class="update-header">
                <i class="fa-solid fa-calendar-check"></i>
                <h4>근무 스케줄 수정</h4>
            </div>

            <form id="updateScheduleForm">
                <div class="update-body">
                    <input type="hidden" id="scheduleId" name="scheduleId" value="{{schedule.id}}">

                    <div class="update-item">
                        <span class="update-label">이름:</span>
                        <span class="update-value">{{schedule.name}}</span>
                        <input type="hidden" name="name" value="{{schedule.name}}">
                    </div>

                    <!-- 시작 시간 -->
                    <div class="update-item">
                        <label class="update-label" for="startTime">시작 시간:</label>
                        <input type="time" id="startTime" name="startTime" required>
                    </div>

                    <!-- 종료 시간 -->
                    <div class="update-item">
                        <label class="update-label" for="endTime">종료 시간:</label>
                        <input type="time" id="endTime" name="endTime" required>
                    </div>
                </div>

                <div class="bottom-buttons">
                    <a href="/schedules" class="btn btn-back">취소</a>
                    <button type="submit" class="btn btn-create">수정 완료</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{> layout/footer}}

<script src="/js/workschedule/update.js"></script>