<!-- http://localhost:8080/schedule/list -->

{{> layout/header}}

<div class="container">

    <div class="section-header">
        <h2 class="section-title">근무 일정 목록</h2>
        <a href="/schedule" class="btn btn-create">
            <span>+</span> 새 일정 등록
        </a>
    </div>
        <div class="card-list">
            {{#scheduleList}}
                    <a href="/schedule/{{id}}/detail" class="card">
                        <div class="card-header">
                            <h4>{{name}}</h4>
                        </div>
                        <div class="card-info">
                            <span class="info-label">시작 시간</span>
                            <span class="info-value">{{startTime}}</span>
                        </div>
                        <div class="card-info">
                            <span class="info-label">종료 시간</span>
                            <span class="info-value">{{endTime}}</span>
                        </div>
                    </a>
            {{/scheduleList}}
        </div>

    {{^scheduleList}}
        <div class="blank">
            <p class="text-center">등록된 일정이 없습니다.</p>
        </div>
    {{/scheduleList}}

</div>

<div class="bg-bubbles">
    <div class="bg-bubble"></div>
    <div class="bg-bubble"></div>
    <div class="bg-bubble"></div>
    <div class="bg-bubble"></div>
    <div class="bg-bubble"></div>
    <div class="bg-bubble"></div>
    <div class="bg-bubble"></div>
    <div class="bg-bubble"></div>
    <div class="bg-bubble"></div>
    <div class="bg-bubble"></div>
</div>

{{> layout/footer}}