<footer>
    <div class="f-container">
        <div class="f-brand">
            <i class="fa-solid fa-soap"></i> Clean4U
        </div>
        <div class="f-right">
            <a class="github-icon" href="https://github.com/team-derma-clinic/Clean4U">
                <i class="fa-brands fa-github"></i> GitHub
            </a>
            <p class="f-copyrights"> &copy; 2025 2Team Project All rights reserved</p>
        </div>
    </div>
</footer>

<script src="/js/dropdown.js"></script>
<script src="/js/header.js"></script>
<script src="/js/stock-notice.js"></script>
<script src="/js/chat/chat-widget.js"></script>
</body>

</html>