<footer>
    <div class="f-container">
        <p class="f-brand">
            <i class="fa-solid fa-soap"></i> Clean4U
        </p>
        <p class="f-copyrights"> &copy; 2025 2Team Project All rights reserved</p>
    </div>
</footer>
</body>

</html>