<!DOCTYPE html>
<html lang="en">

<head>
    <title>Clean4U</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
          href="https://site-assets.fontawesome.com/releases/v7.0.0/css/all.css">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/components.css">
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/detail.css">
    <link rel="stylesheet" href="/list.css">
    <link rel="stylesheet" href="/update.css">
    <link rel="stylesheet" href="/order.css">
    <link rel="stylesheet" href="/customer.css">
    <link rel="stylesheet" href="/supplyItem.css">
    <link rel="stylesheet" href="/laundryOption.css">
    <link rel="stylesheet" href="/dropdown.css">
    <link rel="stylesheet" href="/user.css">
    <link rel="stylesheet" href="/notice.css">
    <link rel="stylesheet" href="/pageLink.css">
</head>

<body>
<nav class="navbar">
    <div class="navbar-container">
        <a class="navbar-brand" href="/main">
            <i class="fa-solid fa-soap"></i> Clean4U
        </a>
        <div class="navbar-menu">
            <ul class="navbar-nav">
                {{#sessionUser}}
                    {{#sessionUser.isAdmin}}
                        <li class="nav-item dropdown">
                            <span class="nav-link dropdown-toggle">
                                <i class="fa-solid fa-shield-halved"></i>  관리자
                                <i class="fa-solid fa-chevron-down"></i>
                            </span>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/employee/list" class="dropdown-item">
                                        <i class="fa-solid fa-users"></i>
                                        직원 관리
                                    </a>
                                </li>
                                <li>
                                    <a href="/employee/join-list" class="dropdown-item">
                                        <i class="fa-solid fa-user-clock"></i>
                                        회원가입 승인 대기
                                    </a>
                                </li>
                                <li>
                                    <a href="/schedule/list" class="dropdown-item">
                                        <i class="fa-solid fa-calendar-days"></i>
                                        근무 일정 관리
                                    </a>
                                </li>
                                <li>
                                    <a href="/schedule/list" class="dropdown-item">
                                        <i class="fa-solid fa-calendar-days"></i>
                                        교체 근무 관리
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {{/sessionUser.isAdmin}}
                    <li class="nav-item">
                        <a class="nav-link" href="/main">
                            <i class="fa-solid fa-home"></i> 대시보드
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/list">
                            <i class="fa-solid fa-users"></i>고객 관리
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/order/list">
                            <i class="fa-solid fa-cart-shopping"></i>주문 관리
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <span class="nav-link dropdown-toggle">
                            <i class="fa-solid fa-shirt"></i>세탁 관리
                            <i class="fa-solid fa-chevron-down"></i>
                        </span>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/laundry-item" class="dropdown-item">
                                    <i class="fa-solid fa-shirt"></i>
                                    세탁물 관리
                                </a>
                            </li>
                            <li>
                                <a href="/laundry-option" class="dropdown-item">
                                    <i class="fa-solid fa-tag"></i>
                                    세탁 옵션 관리
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/supply-item">
                            <i class="fa-solid fa-box"></i>자재 관리
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/notice/list">
                            <i class="fa-solid fa-bullhorn"></i> 공지사항
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">
                            <i class="fa-solid fa-right-from-bracket"></i> 로그아웃
                        </a>
                    </li>
                {{/sessionUser}}

                {{^sessionUser}}
                    <li class="nav-item">
                        <a class="nav-link" href="/join">
                            <i class="fa-solid fa-user"></i> 회원가입
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">
                            <i class="fa-solid fa-right-to-bracket"></i> 로그인
                        </a>
                    </li>
                {{/sessionUser}}

            </ul>
        </div>
    </div>
</nav>