<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
          href="https://site-assets.fontawesome.com/releases/v7.0.0/css/all.css">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/components.css">
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/detail.css">
    <link rel="stylesheet" href="/list.css">
    <link rel="stylesheet" href="/update.css">
    <link rel="stylesheet" href="/order.css">
    <link rel="stylesheet" href="/customer.css">
    <link rel="stylesheet" href="/supplyItem.css">
    <link rel="stylesheet" href="/laundryOption.css">
    <script src="/js/laundryItem-update.js"></script>
    <script src="/js/header.js"></script>
</head>

<body>
<nav class="navbar">
    <div class="navbar-container">
        <a class="navbar-brand" href="/login">
            <i class="fa-solid fa-soap"></i> Clean4U
        </a>
        <div class="navbar-menu">
            <ul class="navbar-nav">
                {{#sessionUser}}
                    <li class="nav-item">
                        <a class="nav-link" href="/main">
                            <i class="fa-solid fa-home"></i> 대시보드
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/list">
                            <i class="fa-solid fa-users"></i> 고객관리
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/order/list">
                            <i class="fa-solid fa-cart-shopping"></i> 주문관리
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/laundry-item">
                            <i class="fa-solid fa-shirt"></i> 세탁관리
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/laundry-option">
                            <i class="fa-solid fa-tag"></i> 세탁 옵션 관리
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/supply-item">
                            <i class="fa-solid fa-box"></i> 세탁물품관리
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">
                            <i class="fa-solid fa-right-from-bracket"></i> 로그아웃
                        </a>
                    </li>
                {{/sessionUser}}

                {{^sessionUser}}
                    <li class="nav-item">
                        <a class="nav-link" href="/join">
                            <i class="fa-solid fa-user"></i> 회원가입
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">
                            <i class="fa-solid fa-right-to-bracket"></i> 로그인
                        </a>
                    </li>
                {{/sessionUser}}

            </ul>
        </div>
    </div>
</nav>