{{> layout/header}}

<div class="container p-5">
    <h2 class="mb-4">세탁물 옵션
    <a href="/laundry-option/save" class="btn btn-primary">생성</a>
    </h2>
    {{#laundryOptionList}}
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title mb-3">{{name}}</h4>
                <a href="/laundry-option/{{id}}" class="btn btn-primary">상세보기</a>
            </div>
        </div>
    {{/laundryOptionList}}
    {{^laundryOptionList}}
        <div class="alert alert-info" role="alert">
            등록된 세탁물 옵션이 없습니다.
        </div>
    {{/laundryOptionList}}
</div>

{{> layout/footer}}