{{> layout/header}}

{{> layout/background}}

<!-- http://localhost:8080/laundry-option/list -->
<div class="content-section">
    <div class="container">
        <div class="header-container">
            <div class="section-header">
                <h2 class="section-title">
                    <a href="/laundry-options/list">
                        <i class="fa-solid fa-tags"></i>
                        세탁 옵션
                    </a>
                </h2>
                <a href="/laundry-options/save" class="btn btn-create">
                    <span>+</span>생성
                </a>
            </div>
            <form class="search-wrapper" method="get" action="/laundry-options/list">
                <div class="search-input-box">
                    <i class="fa-solid fa-search"></i>
                    <input class="search-input" type="text" placeholder="검색어를 입력해주세요." value="{{name}}" name="name">
                    <input type="hidden" name="page" value="1">
                    <input type="hidden" name="size" value="{{laundryOptionPage.size}}">
                </div>
                <div class="update-value category">
                    <input type="hidden" name="isActive" id="isActive" {{#isActive}}value="{{isActive}}" {{/isActive}}>
                    <div class="category-select" {{#isActive}}data-selected="{{isActive}}" {{/isActive}}>
                        <i class="fa-solid fa-list"></i>
                        <span class="category-selected">
                            {{#isActiveTrue}}활성{{/isActiveTrue}}
                            {{#isActiveFalse}}비활성{{/isActiveFalse}}
                            {{^isActiveTrue}}{{^isActiveFalse}}전체{{/isActiveFalse}}{{/isActiveTrue}}
                        </span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <ul class="category-dropdown">
                        <li data-type="">전체</li>
                        <li data-type="true">활성</li>
                        <li data-type="false">비활성</li>
                    </ul>
                </div>
                <button type="submit" class="btn btn-submit">조회</button>
            </form>
        </div>

        <div class="card-list">
            {{#laundryOptionList}}
                <a href="/laundry-options/{{id}}" class="card">
                    <div class="card-header">
                        <i class="fa-solid fa-tag"></i>
                        <h4>{{name}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-info">
                            <span class="info-label">추가요금:</span>
                            <span class="info-value price">{{extraPrice}}</span>
                        </div>
                    </div>
                </a>
            {{/laundryOptionList}}
        </div>
        {{^laundryOptionList}}
            <p class="blank">등록된 세탁물이 없습니다.</p>
        {{/laundryOptionList}}
    </div>
</div>
<ul class="pagination">
    {{#laundryOptionPage.previousPageNumber}}
        <li class="page-btn">
            <a href="/laundry-options/list?page={{laundryOptionPage.previousPageNumber}}{{#queryString}}{{queryString}}{{/queryString}}">
                <i class="fa-solid fa-chevron-left"></i>
            </a>
        </li>
    {{/laundryOptionPage.previousPageNumber}}
    {{^laundryOptionPage.previousPageNumber}}
        <li class="page-btn disabled">
            <i class="fa-solid fa-chevron-left"></i>
        </li>
    {{/laundryOptionPage.previousPageNumber}}

    {{#laundryOptionPage.pageLinks}}
        <li class="page-btn {{#active}}active{{/active}}">
            <a href="/laundry-options/list?page={{displayNumber}}&size={{laundryOptionPage.size}}{{#queryString}}{{queryString}}{{/queryString}}">{{displayNumber}}</a>
        </li>
    {{/laundryOptionPage.pageLinks}}

    {{#laundryOptionPage.nextPageNumber}}
        <li class="page-btn">
            <a href="/laundry-options/list?page={{laundryOptionPage.nextPageNumber}}{{#queryString}}{{queryString}}{{/queryString}}">
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </li>
    {{/laundryOptionPage.nextPageNumber}}
    {{^laundryOptionPage.nextPageNumber}}
        <li class="page-btn disabled">
            <i class="fa-solid fa-chevron-right"></i>
        </li>
    {{/laundryOptionPage.nextPageNumber}}
</ul>

{{> layout/footer}}